.contacts-call-statistics {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contacts-call-statistics__back-link {
    margin-bottom: 26px;
}

.contacts-call-statistics__back-link:hover {
    color: var(--primary-gray);
}

.contacts-call-statistics__back-link .img {
    margin-right: 10px;
}

.contacts-call-statistics__wrapper {
    position: relative;
    padding: 48px 0;
    background: var(--primary-white);
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
    border-radius: 8px;
}

.contacts-call-statistics__head-block {
    margin-bottom: 48px;
    padding: 0 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts-call-statistics__title p {
    margin-bottom: 0;
    color: var(--secondary-gray);
}

.contacts-call-statistics__count {
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 14px;
    color: var(--secondary-gray);
}

.contacts-call-statistics__duration {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: var(--primary-ebony);
}

.user-revenue {
    position: relative;
    padding: 0 48px;
    top: 16px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 16px;
    color: var(--primary-white);
}

.user-revenue--plug::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 48px;
    background: linear-gradient(270deg, var(--primary-red) 0%, #FF756D 100%);;
}

.user-call-item {
    padding: 0 48px;
    position: relative;
    display: flex;
    align-items: center;
}

.user-call-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--light-gray);
}

.user-call-item__profit,
.user-call-item__duration {
    width: 80px;
    margin-bottom: 0;
    margin-left: 16px;
    font-size: 14px;
    line-height: 48px;
    color: var(--primary-ebony);
}
