<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Statistics</title>
</head>
<body class="ct-component-wrapper">
    <div class="profile-statistics">
        <h1 class="ct-title">Моя статистика</h1>

        <div>
            <h2 class="profile-statistics__title">786</h2>
            <p class="profile-statistics__description">
                Человек добавлено<br>
                в контакты
            </p>
        </div>

        <br><br>

        <div>
            <h2 class="profile-statistics__title">7</h2>
            <p class="profile-statistics__description">
                Отзывов<br>
                написано
            </p>
        </div>

        <br><br>

        <div>
            <h2 class="profile-statistics__title">19 880</h2>
            <p class="profile-statistics__description">
                Рублей потрачено<br>
                на образование
            </p>
        </div>
    </div>
</body>
</html>