<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Settings</title>
</head>
<body class="ct-component-wrapper">
    <div class="profile-settings">
        <div class="profile-settings__item">
            <div class="profile-settings__flex">
                <label class="profile-settings__switch" for="checkbox_1">
                    <input type="checkbox" checked id="checkbox_1" class="profile-settings__input" />
                    <div class="profile-settings__slider profile-settings__slider--round"></div>
                </label>
                <h3 class="profile-settings__text">
                    Автоматически менять статус на “Занят” во время видеозвонка
                </h3>
            </div>
            <span class="profile-settings__status">
                Включено
            </span>
        </div>

        <div class="profile-settings__item">
            <div class="profile-settings__flex">
                <label class="profile-settings__switch" for="checkbox_2">
                    <input type="checkbox" id="checkbox_2" class="profile-settings__input" />
                    <div class="profile-settings__slider profile-settings__slider--round"></div>
                </label>
                <h3 class="profile-settings__text profile-settings__text--unchecked">
                    Автоматически менять статус на “Занят” во время видеозвонка
                </h3>
            </div>
            <span class="profile-settings__status profile-settings__status--unchecked">
                Отключено
            </span>
        </div>

        <br><br><br>
        <!-- Просто отделил компоненты -->

        <div class="profile-settings__info-items">
            <div class="profile-settings__info-item">
                Язык интерфейса
                <img src="../../img/shared/options-dots.svg" alt="options-dots">
            </div>
            <a href="" class="profile-settings__info-item link-item">
                Правила пользования
                <img src="../../img/shared/info-red.svg" alt="info">
            </a>
            <a href="" class="profile-settings__info-item link-item">
                Политика конфиденциальности
                <img src="../../img/shared/info-red.svg" alt="info">
            </a>
        </div>
    </div>
</body>
</html>