<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Feedback</title>
</head>
<body class="ct-component-wrapper">
    <div class="profile-feedback">
        <div class="profile-feedback__title">
            <h2 class="ct-title">
                Отзывы мне:
                <span class="ct-text--red">6</span>
            </h2>
        </div>
        <div class="profile-feedback__item">
            <img
                src="../../img/shared/feedback/feedback-triangle.svg"
                alt="triangle"
                class="profile-feedback__triangle-icon"
            >
            <div class="item-head">
                <div class="item-head__flex-block">
                    <p class="item-head__user-name">Полина</p>
                    <div class="item-head__user-stars">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="rait star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="rait star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="rait star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="rait star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="rait star">
                    </div>
                    <p class="item-head__date">14 августа 2020</p>
                </div>
                <a href="" class="item-head__reply-link">
                    <img src="../../img/shared/feedback/reply.svg" alt="reply">
                    Ответить
                </a>
            </div>
            <p class="item-description">
                Очень яркий и отзывычивый педагог, профессионал своего дела.
            </p>
        </div>

        <div class="profile-feedback__item">
            <img
                src="../../img/shared/feedback/feedback-triangle.svg"
                alt="triangle"
                class="profile-feedback__triangle-icon"
            >
            <div class="item-head">
                <div class="item-head__flex-block">
                    <p class="item-head__user-name">Никита</p>
                    <div class="item-head__user-stars">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="rait star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="rait star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="rait star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="rait star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="rait star">
                    </div>
                    <p class="item-head__date">20 апреля 2020</p>
                </div>
                <a href="" class="item-head__reply-link">
                    <img src="../../img/shared/feedback/reply.svg" alt="reply">
                    Ответить
                </a>
            </div>
            <p class="item-description">
                Приятно с ней работать, яркий и отзывчивый педагог, по выходным делает скидку,
                если ей понравился собеседник. А может и не сделать, но мне всегда делает.
            </p>
        </div>

        <div class="profile-feedback__item">
            <img
                src="../../img/shared/feedback/feedback-triangle.svg"
                alt="triangle"
                class="profile-feedback__triangle-icon"
            >
            <div class="item-head">
                <div class="item-head__flex-block">
                    <p class="item-head__user-name">Полина</p>
                    <div class="item-head__user-stars">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="rait star">
                        <img src="../../img/shared/feedback/rait-star.svg" alt="rait star">
                        <img src="../../img/shared/feedback/rait-star.svg" alt="rait star">
                        <img src="../../img/shared/feedback/rait-star.svg" alt="rait star">
                        <img src="../../img/shared/feedback/rait-star.svg" alt="rait star">
                    </div>
                    <p class="item-head__date">14 августа 2020</p>
                </div>
                <a href="" class="item-head__reply-link">
                    <img src="../../img/shared/feedback/reply.svg" alt="reply">
                    Ответить
                </a>
            </div>
            <p class="item-description">
                Дороговато. Не рекомендую.
            </p>
        </div>
    </div>
</body>
</html>