<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Balance</title>
</head>
<body class="ct-component-wrapper">
    <div class="profile-balance">
        <div class="profile-balance__operation-item">
            <img src="../../img/shared/balance-up.svg" alt="balance-up">
            <p class="operation-item__date">Вчера в 12:00</p>
            <p class="operation-item__cost">+7000 ₽</p>
            <p class="operation-item__system">Yandex.Money</p>
        </div>
        <div class="profile-balance__operation-item">
            <img src="../../img/shared/balance-down.svg" alt="balance-down">
            <p class="operation-item__date">15 августа в 10:30</p>
            <p class="operation-item__cost">-500 ₽</p>
            <p class="operation-item__system">Qiwi</p>
        </div>
        <div class="profile-balance__operation-item">
            <img src="../../img/shared/balance-video.svg" alt="">
            <p class="operation-item__date">1 августа в 23:10</p>
            <p class="operation-item__cost">+500 ₽</p>
            <p class="operation-item__system">
                Видеозвонок с учеником
                <span class="ct-text--red">Ольга Савоськина</span> (00:26:02)
            </p>
        </div>
    </div>
</body>
</html>