<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile main</title>
</head>
<body class="ct-component-wrapper">
    <div class="profile-main">
        <div class="profile-main__search-bar">
            <button class="add-contact-button ct-button ct-button--primary">
                <img
                    src="../../img/shared/add-contact.svg"
                    alt="add contact"
                    class="ct-button__icon--left"
                >
                Добавить в контакты
            </button>
            <button class="more-button ct-reset-button">
                <img src="../../img/shared/more-red.svg" alt="more">
            </button>
        </div>
        <div class="profile-main__user-summary">
            <div class="user-info__summary-head">
                <span class="user-info__title">Обо мне</span>
                <span class="user-info__register">На сайте
                    <span class="ct-text--bold">
                        12 месяцев
                    </span>
                </span>
            </div>
            <p class="user-info__text">
                Разнообразный и богатый опыт постоянный количественный рост и сфера
                нашей активности обеспечивает широкому кругу (специалистов) участие в
                формировании новых предложений. Товарищи! дальнейшее развитие различных
                форм деятельности обеспечивает широкому кругу (специалистов) участие в
                формировании позиций, занимаемых участниками в отношении поставленных
                задач. С другой стороны постоянный количественный рост и сфера нашей
                активности обеспечивает широкому кругу (специалистов) участие в
                формировании форм развития. Повседневная практика показывает,
                что новая модель организационной деятельности позволяет выполнять важные
                задания по разработке направлений прогрессивного развития.
            </p>
        </div>
        <div class="profile-main__user-raiting">
            <span class="user-rait user-info__title">
                Рейтинг:
            </span>

            <div class="profile-main__rait">
                <div>
                    <div class="raiting-stars">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                    </div>
                    <span class="ct-text--bold user-info__raiting-voices">355</span>
                    <span class="user-info__raiting-voices">голосов</span>
                </div>
    
                <div>
                    <div class="raiting-stars">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star.svg" alt="star">
                    </div>
                    <span class="ct-text--bold user-info__raiting-voices">2</span>
                    <span class="user-info__raiting-voices">голосов</span>
                </div>
    
                <div>
                    <div class="raiting-stars">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star.svg" alt="star">
                    </div>
                    <span class="ct-text--bold user-info__raiting-voices">0</span>
                    <span class="user-info__raiting-voices">голосов</span>
                </div>
    
                <div>
                    <div class="raiting-stars">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star.svg" alt="star">
                    </div>
                    <span class="ct-text--bold user-info__raiting-voices">12</span>
                    <span class="user-info__raiting-voices">голосов</span>
                </div>
    
                <div>
                    <div class="raiting-stars">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star.svg" alt="star">
                    </div>
                    <span class="ct-text--bold user-info__raiting-voices">14</span>
                    <span class="user-info__raiting-voices">голосов</span>
                </div>
            </div>
        </div>
        <div class="profile-main__user-feedbacks">
            <p class="user-info__title">
                Отзывы:
                <span>22</span>
            </p>

            <div class="user-feedback__item">
                <div class="user-feedback__details">
                    <div class="user-feedback__flex-block">
                        <p class="feedback-author">Полина</p>
                        <div class="feedback-stars">
                            <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                            <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                            <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                            <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                            <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        </div>
                    </div>
                    <span class="feedback-date">14 августа 2020</span>
                </div>
                <div class="user-feedback__text">
                    <img
                        src="../../img/shared/feedback-triangle-gray.svg"
                        alt="feedback triangle"
                        class="img"
                    >
                    Очень яркий и отзывычивый педагог, профессионал своего дела.
                </div>
            </div>

            <div class="user-feedback__item">
                <div class="user-feedback__details">
                    <div class="user-feedback__flex-block">
                        <p class="feedback-author">Сергей</p>
                        <div class="feedback-stars">
                            <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                            <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                            <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                            <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                            <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        </div>
                    </div>
                    <span class="feedback-date">14 августа 2020</span>
                </div>
                <div class="user-feedback__text">
                    <img
                        src="../../img/shared/feedback-triangle-gray.svg"
                        alt="feedback triangle"
                        class="img"
                    >
                    Приятно с ней работать, яркий и отзывчивый педагог, по выходным делает скидку, если ей понравился собеседник.
                    А может и не сделать, но мне всегда делает.
                </div>
                <div class="user-feedback__reply-text">
                    <img
                        src="../../img/shared/feedback-triangle-gray.svg"
                        alt="feedback triangle"
                        class="img"
                    >
                    <p class="user-feedback__reply-by-user">Инна ответила:</p>
                    Сергей, спасибо за отзыв!
                </div>
            </div>

            <div class="user-feedback__item">
                <div class="user-feedback__details">
                    <div class="user-feedback__flex-block">
                        <p class="feedback-author">Олег</p>
                        <div class="feedback-stars">
                            <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                            <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                            <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                            <img src="../../img/shared/feedback/rait-star.svg" alt="star">
                            <img src="../../img/shared/feedback/rait-star.svg" alt="star">
                        </div>
                    </div>
                    <span class="feedback-date">1 октября 2020</span>
                </div>
                <div class="user-feedback__text">
                    <img
                        src="../../img/shared/feedback-triangle-gray.svg"
                        alt="feedback triangle"
                        class="img"
                    >
                    Дороговато. Не рекомендую.
                </div>
            </div>
        </div>
    </div>

    <br><br><br>
    <!-- change on topbar -->
    <h3>
        With topbar for Contact page
    </h3>
    <br><br><br>
    
    <div class="profile-main">
        <div class="profile-main__search-bar">
            <div class="buttons-wrapper">
                <button class="chat-button ct-button ct-button--secondary">
                    <img
                        src="../../img/shared/chats.svg"
                        alt="chats"
                        class="ct-button__icon--left"
                    >
                    Общение
                </button>
                <button class="statistics-button ct-reset-button">
                    <img
                        src="../../img/shared/statistics.svg"
                        alt="statistics"
                        class="ct-button__icon--left"
                    >
                    Статистика видео-звонков
                </button>
            </div>
            <div class="buttons-wrapper">
                <button class="send-feedback-button ct-button ct-button--primary">
                    <img
                        src="../../img/shared/write-feedback.svg"
                        alt="write feedback"
                        class="ct-button__icon--left"
                    >
                    Написать отзыв
                </button>
                <button class="more-button ct-reset-button">
                    <img src="../../img/shared/more-red.svg" alt="more">
                </button>
            </div>
        </div>

        <div class="profile-main__user-summary">
            <div class="user-info__summary-head">
                <span class="user-info__title">Обо мне</span>
                <span class="user-info__register">На сайте
                    <span class="ct-text--bold">
                        12 месяцев
                    </span>
                </span>
            </div>
            <p class="user-info__text">
                Разнообразный и богатый опыт постоянный количественный рост и сфера
                нашей активности обеспечивает широкому кругу (специалистов) участие в
                формировании новых предложений. Товарищи! дальнейшее развитие различных
                форм деятельности обеспечивает широкому кругу (специалистов) участие в
                формировании позиций, занимаемых участниками в отношении поставленных
                задач. С другой стороны постоянный количественный рост и сфера нашей
                активности обеспечивает широкому кругу (специалистов) участие в
                формировании форм развития. Повседневная практика показывает,
                что новая модель организационной деятельности позволяет выполнять важные
                задания по разработке направлений прогрессивного развития.
            </p>
        </div>
        <div class="profile-main__user-raiting">
            <span class="user-rait user-info__title">
                Рейтинг:
            </span>

            <div class="profile-main__rait">
                <div>
                    <div class="raiting-stars">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                    </div>
                    <span class="ct-text--bold user-info__raiting-voices">355</span>
                    <span class="user-info__raiting-voices">голосов</span>
                </div>
    
                <div>
                    <div class="raiting-stars">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star.svg" alt="star">
                    </div>
                    <span class="ct-text--bold user-info__raiting-voices">2</span>
                    <span class="user-info__raiting-voices">голосов</span>
                </div>
    
                <div>
                    <div class="raiting-stars">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star.svg" alt="star">
                    </div>
                    <span class="ct-text--bold user-info__raiting-voices">0</span>
                    <span class="user-info__raiting-voices">голосов</span>
                </div>
    
                <div>
                    <div class="raiting-stars">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star.svg" alt="star">
                    </div>
                    <span class="ct-text--bold user-info__raiting-voices">12</span>
                    <span class="user-info__raiting-voices">голосов</span>
                </div>
    
                <div>
                    <div class="raiting-stars">
                        <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star.svg" alt="star">
                        <img src="../../img/shared/feedback/rait-star.svg" alt="star">
                    </div>
                    <span class="ct-text--bold user-info__raiting-voices">14</span>
                    <span class="user-info__raiting-voices">голосов</span>
                </div>
            </div>
        </div>
        <div class="profile-main__user-feedbacks">
            <p class="user-info__title">
                Отзывы:
                <span>22</span>
            </p>

            <div class="user-feedback__item">
                <div class="user-feedback__details">
                    <div class="user-feedback__flex-block">
                        <p class="feedback-author">Полина</p>
                        <div class="feedback-stars">
                            <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                            <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                            <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                            <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                            <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        </div>
                    </div>
                    <span class="feedback-date">14 августа 2020</span>
                </div>
                <div class="user-feedback__text">
                    <img
                        src="../../img/shared/feedback-triangle-gray.svg"
                        alt="feedback triangle"
                        class="img"
                    >
                    Очень яркий и отзывычивый педагог, профессионал своего дела.
                </div>
            </div>

            <div class="user-feedback__item">
                <div class="user-feedback__details">
                    <div class="user-feedback__flex-block">
                        <p class="feedback-author">Сергей</p>
                        <div class="feedback-stars">
                            <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                            <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                            <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                            <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                            <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                        </div>
                    </div>
                    <span class="feedback-date">14 августа 2020</span>
                </div>
                <div class="user-feedback__text">
                    <img
                        src="../../img/shared/feedback-triangle-gray.svg"
                        alt="feedback triangle"
                        class="img"
                    >
                    Приятно с ней работать, яркий и отзывчивый педагог, по выходным делает скидку, если ей понравился собеседник.
                    А может и не сделать, но мне всегда делает.
                </div>
                <div class="user-feedback__reply-text">
                    <img
                        src="../../img/shared/feedback-triangle-gray.svg"
                        alt="feedback triangle"
                        class="img"
                    >
                    <p class="user-feedback__reply-by-user">Инна ответила:</p>
                    Сергей, спасибо за отзыв!
                </div>
            </div>

            <div class="user-feedback__item">
                <div class="user-feedback__details">
                    <div class="user-feedback__flex-block">
                        <p class="feedback-author">Олег</p>
                        <div class="feedback-stars">
                            <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                            <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                            <img src="../../img/shared/feedback/rait-star-red.svg" alt="star">
                            <img src="../../img/shared/feedback/rait-star.svg" alt="star">
                            <img src="../../img/shared/feedback/rait-star.svg" alt="star">
                        </div>
                    </div>
                    <span class="feedback-date">1 октября 2020</span>
                </div>
                <div class="user-feedback__text">
                    <img
                        src="../../img/shared/feedback-triangle-gray.svg"
                        alt="feedback triangle"
                        class="img"
                    >
                    Дороговато. Не рекомендую.
                </div>
            </div>
        </div>
    </div>
</body>
</html>