<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile content box</title>
</head>
<body class="ct-component-wrapper">
    <div class="profile-content">
        <a href="" class="profile-content-box">
            <img src="../../img/profile/content-box/stars-red.svg" alt="stars" class="profile-content-box__img">
            <p class="profile-content-box__capture">Мой рейтинг:
                <span class="ct-text--red ct-text--bold">4,5</span>
            </p>
            <img src="../../img/shared/info.svg" alt="info" class="profile-content-box__info-img">
        </a>

        <a href="" class="profile-content-box">
            <img src="../../img/profile/content-box/comments-red.svg" alt="comments" class="profile-content-box__img">
            <p class="profile-content-box__capture">
                Отзывы мне: 356
                <span class="ct-text--red ct-text--bold">+ 2</span>
            </p>
            <img src="../../img/shared/info.svg" alt="info" class="profile-content-box__info-img">
        </a>
    
        <a href="" class="profile-content-box">
            <img src="../../img/profile/content-box/my-data-red.svg" alt="my data" class="profile-content-box__img">
            <p class="profile-content-box__capture">
                Мои данные
            </p>
            <img src="../../img/shared/info.svg" alt="info" class="profile-content-box__info-img">
        </a>

        <a href="" class="profile-content-box">
            <p class="profile-content-box__balance ct-text--red">36 890 ₽</p>
            <p class="profile-content-box__capture">Мой баланс</p>
            <img src="../../img/shared/info.svg" alt="info" class="profile-content-box__info-img">
        </a>

        <a href="" class="profile-content-box">
            <img src="../../img/profile/content-box/my-statistics-red.svg" alt="statistics" class="profile-content-box__img">
            <p class="profile-content-box__capture">Моя статистика</p>
            <img src="../../img/shared/info.svg" alt="info" class="profile-content-box__info-img">
        </a>
    
        <a href="" class="profile-content-box">
            <img src="../../img/profile/content-box/settings-red.svg" alt="settings" class="profile-content-box__img">
            <p class="profile-content-box__capture">Настройки</p>
            <img src="../../img/shared/info.svg" alt="info" class="profile-content-box__info-img">
        </a>
    </div>
</body>
</html>