<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile topbar</title>
</head>
<body class="ct-component-wrapper">
    <div class="profile-topbar">
        <h2 class="profile-topbar__title ct-title">
            <span class="ct-text--red">812</span> репетиторов +
            <span class="ct-text--red">63</span> собеседника</h2>
        <div class="profile-topbar__buttons-wrapper">
            <button class="profile-topbar__search-btn ct-reset-button" id="showFilterToggle">
                <svg width="18" height="18" fill="none" class="img">
                    <path d="M2.83 9.75L1.4 11.2a7 7 0 019.79-9.79L9.75 2.83a5 5 0 00-6.92 6.92zm14.88 6.54l-5.1-5.1a6.96 6.96 0 000-8.38l-1.44 1.44a5 5 0 01-6.92 6.92L2.8 12.6a6.96 6.96 0 008.38 0l5.1 5.1a1 1 0 001.42 0 1 1 0 000-1.4z" fill="#DC1B48"/>
                </svg>
                Уточнить критерии поиска
            </button>
            <button class="profile-topbar__sort-btn ct-reset-button">
                <svg width="18" height="16" fill="none" class="img">
                    <path d="M0 2a1 1 0 011-1h1a1 1 0 012 0h13a1 1 0 010 2H4a1 1 0 01-2 0H1a1 1 0 01-1-1zm17 5h-7a1 1 0 00-2 0H1a1 1 0 000 2h7a1 1 0 002 0h7a1 1 0 000-2zm0 6h-1a1 1 0 00-2 0H1a1 1 0 000 2h13a1 1 0 002 0h1a1 1 0 000-2z" fill="#7894AF"/>
                </svg>
                Упорядочить результаты
            </button>
        </div>
    </div>

    <div class="search-filter">
        <div class="search-filter__block">
            <div class="filter-list">
                <h3 class="filter-list__title">По рейтингу:</h3>
                <input
                    type="radio"
                    id="filter_1"
                    name="filter_f"
                    checked
                    class="filter-list__input"
                >
                <label for="filter_1" class="filter-list__label">
                    От большего к меньшему
                </label>
                <input
                    type="radio"
                    id="filter_2"
                    name="filter_f"
                    class="filter-list__input"
                >
                <label for="filter_2" class="filter-list__label">
                    От меньшего к большему
                </label>
                <input
                    type="radio"
                    id="filter_3"
                    name="filter_f"
                    class="filter-list__input"
                >
                <label for="filter_3" class="filter-list__label">
                    В любом порядке
                </label>
            </div>
            <div class="filter-list">
                <h3 class="filter-list__title">По цене:</h3>
                <input
                    type="radio"
                    id="filter_11"
                    name="filter_s"
                    class="filter-list__input"
                >
                <label for="filter_11" class="filter-list__label">
                    От низких к высоким
                </label>
                <input
                    type="radio"
                    id="filter_22"
                    name="filter_s"
                    class="filter-list__input"
                >
                <label for="filter_22" class="filter-list__label">
                    От высоких к низким
                </label>
                <input
                    type="radio"
                    id="filter_33"
                    name="filter_s"
                    checked
                    class="filter-list__input"
                >
                <label for="filter_33" class="filter-list__label">
                    В любом порядке
                </label>
            </div>
            <div class="filter-list">
                <h3 class="filter-list__title">По верификации:</h3>
                <input
                    type="radio"
                    id="filter_111"
                    name="filter_t"
                    class="filter-list__input"
                >
                <label for="filter_111" class="filter-list__label">
                    Сначала проверенные
                </label>
                <input
                    type="radio"
                    id="filter_222"
                    name="filter_t"
                    checked
                    class="filter-list__input"
                >
                <label for="filter_222" class="filter-list__label">
                    Сначала непроверенные
                </label>
                <input
                    type="radio"
                    id="filter_333"
                    name="filter_t"
                    class="filter-list__input"
                >
                <label for="filter_333" class="filter-list__label">
                    В любом порядке
                </label>
            </div>
            <div class="filter-list">
                <h3 class="filter-list__title">По типу:</h3>
                <input
                    type="radio"
                    id="filter_1111"
                    name="filter_fo"
                    class="filter-list__input"
                >
                <label for="filter_1111" class="filter-list__label">
                    Сначала репетиторы
                </label>
                <input
                    type="radio"
                    id="filter_2222"
                    name="filter_fo"
                    checked
                    class="filter-list__input"
                >
                <label for="filter_2222" class="filter-list__label">
                    Сначала собеседники
                </label>
                <input
                    type="radio"
                    id="filter_3333"
                    name="filter_fo"
                    class="filter-list__input"
                >
                <label for="filter_3333" class="filter-list__label">
                    В любом порядке
                </label>
            </div>
        </div>
        <div class="search-filter__actions">
            <button class="ct-button ct-button--primary ct-button--mini">
                Применить
            </button>
            <button class="ct-button ct-button--clear ct-button--mini">
                <svg width="10" height="10" fill="none" class="ct-button__icon--left">
                    <path d="M9.7 8.3a1 1 0 11-1.4 1.4L5 6.42l-3.3 3.3a1 1 0 01-1.4 0 1 1 0 010-1.42L3.58 5 .29 1.7A1 1 0 111.71.3L5 3.58 8.3.29a1 1 0 111.4 1.42L6.42 5l3.3 3.3z" fill="#6E7388"/>
                </svg>
                Сбросить все
            </button>
        </div>
    </div>

    <br><br><br><br><br><br>

    <div class="profile-topbar">
        <h2 class="profile-topbar__title ct-title">
            <span class="ct-text--red">812</span> репетиторов +
            <span class="ct-text--red">63</span> собеседника</h2>
        <div class="profile-topbar__buttons-wrapper">
            <button class="profile-topbar__search-btn ct-reset-button" id="showSearchToggle">
                <svg width="18" height="18" fill="none" class="img">
                    <path d="M2.83 9.75L1.4 11.2a7 7 0 019.79-9.79L9.75 2.83a5 5 0 00-6.92 6.92zm14.88 6.54l-5.1-5.1a6.96 6.96 0 000-8.38l-1.44 1.44a5 5 0 01-6.92 6.92L2.8 12.6a6.96 6.96 0 008.38 0l5.1 5.1a1 1 0 001.42 0 1 1 0 000-1.4z" fill="#DC1B48"/>
                </svg>
                <span id="searchToggleTExt">Уточнить критерии поиска</span>
            </button>
            <button class="profile-topbar__sort-btn ct-reset-button">
                <svg width="18" height="16" fill="none" class="img">
                    <path d="M0 2a1 1 0 011-1h1a1 1 0 012 0h13a1 1 0 010 2H4a1 1 0 01-2 0H1a1 1 0 01-1-1zm17 5h-7a1 1 0 00-2 0H1a1 1 0 000 2h7a1 1 0 002 0h7a1 1 0 000-2zm0 6h-1a1 1 0 00-2 0H1a1 1 0 000 2h13a1 1 0 002 0h1a1 1 0 000-2z" fill="#7894AF"/>
                </svg>
                Упорядочить результаты
            </button>
        </div>
    </div>

    <div class="search-page search-page--modal">
        <div class="search-page__body">
            <div class="grid-block">
                <div class="super-custom-selector super-custom-selector--search">
                    <h3 class="selector-title">Я ищу</h3>
                    <div class="dropdown">
                        <button type="button" class="ct-reset-button dropdown-toggle" data-toggle="dropdown">
                            <ins class="ins">
                                Репетитора или Собеседника
                            </ins>
                            <svg width="10" height="10" fill="none" class="img">
                                <path d="M2 1a1 1 0 11-2 0 1 1 0 012 0zM6 1a1 1 0 11-2 0 1 1 0 012 0zM10 1a1 1 0 11-2 0 1 1 0 012 0zM2 5a1 1 0 11-2 0 1 1 0 012 0zM6 5a1 1 0 11-2 0 1 1 0 012 0zM10 5a1 1 0 11-2 0 1 1 0 012 0zM2 9a1 1 0 11-2 0 1 1 0 012 0zM6 9a1 1 0 11-2 0 1 1 0 012 0zM10 9a1 1 0 11-2 0 1 1 0 012 0z" fill="#C2C8DE"/>
                            </svg>
                        </button>
                        <div class="dropdown-menu radio">
                            <label class="dropdown-item" data-user-class="online">
                                <input class="jRadioDropdown" type="radio" value="001" name="status">
                                <i>
                                    Репетитора
                                </i>
                            </label>
                            <label class="dropdown-item" data-user-class="online">
                                <input class="jRadioDropdown" type="radio" value="001" name="status">
                                <i>
                                    Собеседника
                                </i>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="super-custom-selector">
                    <h3 class="selector-title">Пол</h3>
                    <div class="dropdown">
                        <button type="button" class="ct-reset-button dropdown-toggle" data-toggle="dropdown">
                            <ins class="ins">
                                Пол
                            </ins>
                            <svg width="10" height="10" fill="none" class="img">
                                <path d="M2 1a1 1 0 11-2 0 1 1 0 012 0zM6 1a1 1 0 11-2 0 1 1 0 012 0zM10 1a1 1 0 11-2 0 1 1 0 012 0zM2 5a1 1 0 11-2 0 1 1 0 012 0zM6 5a1 1 0 11-2 0 1 1 0 012 0zM10 5a1 1 0 11-2 0 1 1 0 012 0zM2 9a1 1 0 11-2 0 1 1 0 012 0zM6 9a1 1 0 11-2 0 1 1 0 012 0zM10 9a1 1 0 11-2 0 1 1 0 012 0z" fill="#C2C8DE"/>
                            </svg>
                        </button>
                        <div class="dropdown-menu radio">
                            <label class="dropdown-item" data-user-class="online">
                                <input class="jRadioDropdown" type="radio" value="001" name="status">
                                <i>
                                    Муж.
                                </i>
                            </label>
                            <label class="dropdown-item" data-user-class="online">
                                <input class="jRadioDropdown" type="radio" value="001" name="status">
                                <i>
                                    Жен.
                                </i>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="age-selector">
                    <h3 class="selector-title">Возраст</h3>
                    <div class="btn-group">
                        <button type="button" class="custom-dropdown-menu-toggle ct-button-reset profile-cabinet__select-status" id="yearsButton">
                            <div class="flex-block">
                                <span id="lowerValue">20</span>-
                                <span id="upperValue">40</span>
                            </div>
                            <svg width="10" height="10" fill="none" class="img">
                                <path d="M2 1a1 1 0 11-2 0 1 1 0 012 0zM6 1a1 1 0 11-2 0 1 1 0 012 0zM10 1a1 1 0 11-2 0 1 1 0 012 0zM2 5a1 1 0 11-2 0 1 1 0 012 0zM6 5a1 1 0 11-2 0 1 1 0 012 0zM10 5a1 1 0 11-2 0 1 1 0 012 0zM2 9a1 1 0 11-2 0 1 1 0 012 0zM6 9a1 1 0 11-2 0 1 1 0 012 0zM10 9a1 1 0 11-2 0 1 1 0 012 0z" fill="#C2C8DE"/>
                            </svg>
                        </button>
                        <div class="custom-dropdown-menu">
                            <div id="ageSlider"></div>
                            <button class="ct-button ct-button--primary ct-button--mini">
                                Подтвердить
                            </button>
                        </div>
                    </div>
                </div>
                <div class="super-custom-selector super-custom-selector--learning">
                    <h3 class="selector-title">Носитель языка</h3>
                    <div class="dropdown">
                        <button type="button" class="ct-reset-button dropdown-toggle" data-toggle="dropdown">
                            <ins class="ins">
                                Язык
                            </ins>
                            <svg width="10" height="10" fill="none" class="img">
                                <path d="M2 1a1 1 0 11-2 0 1 1 0 012 0zM6 1a1 1 0 11-2 0 1 1 0 012 0zM10 1a1 1 0 11-2 0 1 1 0 012 0zM2 5a1 1 0 11-2 0 1 1 0 012 0zM6 5a1 1 0 11-2 0 1 1 0 012 0zM10 5a1 1 0 11-2 0 1 1 0 012 0zM2 9a1 1 0 11-2 0 1 1 0 012 0zM6 9a1 1 0 11-2 0 1 1 0 012 0zM10 9a1 1 0 11-2 0 1 1 0 012 0z" fill="#C2C8DE"/>
                            </svg>
                        </button>
                        <div class="dropdown-menu radio">
                            <label class="dropdown-item" data-user-class="online">
                                <input class="jRadioDropdown" type="radio" value="001" name="status">
                                <i>
                                    Русский
                                </i>
                            </label>
                            <label class="dropdown-item" data-user-class="online">
                                <input class="jRadioDropdown" type="radio" value="001" name="status">
                                <i>
                                    Русский1
                                </i>
                            </label>
                            <label class="dropdown-item" data-user-class="online">
                                <input class="jRadioDropdown" type="radio" value="001" name="status">
                                <i>
                                    Русский2
                                </i>
                            </label>
                            <label class="dropdown-item" data-user-class="ofline">
                                <input class="jRadioDropdown" type="radio" value="002" name="status">
                                <i>
                                    Русский3
                                </i>
                            </label>
                            <label class="dropdown-item" data-user-class="busy">
                                <input class="jRadioDropdown" type="radio" value="003" name="status">
                                <i>
                                    Русский4
                                </i>
                            </label>
                            <label class="dropdown-item" data-user-class="online">
                                <input class="jRadioDropdown" type="radio" value="001" name="status">
                                <i>
                                    Русский5
                                </i>
                            </label>
                            <label class="dropdown-item" data-user-class="online">
                                <input class="jRadioDropdown" type="radio" value="001" name="status">
                                <i>
                                    Русский6
                                </i>
                            </label>
                            <label class="dropdown-item" data-user-class="online">
                                <input class="jRadioDropdown" type="radio" value="001" name="status">
                                <i>
                                    Русский7
                                </i>
                            </label>
                        </div>
                    </div>
                </div>
                <div>
                    <h3 class="selector-title">Я хочу изучать</h3>
                    <form autocomplete="off" action="">
                        <div class="autocomplete">
                            <input
                                id="myInput"
                                type="text"
                                name="myCountry"
                                placeholder="Плацехолдер"
                                class="autocomplete__input"
                            >
                            <svg width="10" height="10" fill="none" class="img">
                                <path d="M2 1a1 1 0 11-2 0 1 1 0 012 0zM6 1a1 1 0 11-2 0 1 1 0 012 0zM10 1a1 1 0 11-2 0 1 1 0 012 0zM2 5a1 1 0 11-2 0 1 1 0 012 0zM6 5a1 1 0 11-2 0 1 1 0 012 0zM10 5a1 1 0 11-2 0 1 1 0 012 0zM2 9a1 1 0 11-2 0 1 1 0 012 0zM6 9a1 1 0 11-2 0 1 1 0 012 0zM10 9a1 1 0 11-2 0 1 1 0 012 0z" fill="#C2C8DE"/>
                            </svg>
                        </div>
                    </form>
                </div>
                <div class="price-selector">
                    <h3 class="selector-title">Цена</h3>
                    <div class="btn-group">
                        <button type="button" class="custom-dropdown-menu-toggle ct-button-reset profile-cabinet__select-status" id="priceButton">
                            <div class="flex-block">
                                <span id="lowerValue">200</span>-
                                <span id="upperValue">800</span>
                            </div>
                            <svg width="10" height="10" fill="none" class="img">
                                <path d="M2 1a1 1 0 11-2 0 1 1 0 012 0zM6 1a1 1 0 11-2 0 1 1 0 012 0zM10 1a1 1 0 11-2 0 1 1 0 012 0zM2 5a1 1 0 11-2 0 1 1 0 012 0zM6 5a1 1 0 11-2 0 1 1 0 012 0zM10 5a1 1 0 11-2 0 1 1 0 012 0zM2 9a1 1 0 11-2 0 1 1 0 012 0zM6 9a1 1 0 11-2 0 1 1 0 012 0zM10 9a1 1 0 11-2 0 1 1 0 012 0z" fill="#C2C8DE"/>
                            </svg>
                        </button>
                        <div class="custom-dropdown-menu">
                            <div id="priceSlider"></div>
                            <button class="ct-button ct-button--primary ct-button--mini">
                                Подтвердить
                            </button>
                        </div>
                    </div>
                </div>
                <div class="time-selector">
                    <h3 class="selector-title">Онлайн не позже</h3>
                    <div class="btn-group">
                        <button type="button" class="custom-dropdown-menu-toggle ct-button-reset profile-cabinet__select-status" id="timeButton">
                            <div class="flex-block">
                                <span id="lowerValue">08:00</span>-
                                <span id="upperValue">08:15</span>
                            </div>
                            <svg width="10" height="10" fill="none" class="img">
                                <path d="M2 1a1 1 0 11-2 0 1 1 0 012 0zM6 1a1 1 0 11-2 0 1 1 0 012 0zM10 1a1 1 0 11-2 0 1 1 0 012 0zM2 5a1 1 0 11-2 0 1 1 0 012 0zM6 5a1 1 0 11-2 0 1 1 0 012 0zM10 5a1 1 0 11-2 0 1 1 0 012 0zM2 9a1 1 0 11-2 0 1 1 0 012 0zM6 9a1 1 0 11-2 0 1 1 0 012 0zM10 9a1 1 0 11-2 0 1 1 0 012 0z" fill="#C2C8DE"/>
                            </svg>
                        </button>
                        <div class="custom-dropdown-menu">
                            <div id="timeSlider"></div>
                            <button class="ct-button ct-button--primary ct-button--mini">
                                Подтвердить
                            </button>
                        </div>
                    </div>
                </div>
                <div class="profile-settings__item">
                    <div class="profile-settings__flex">
                        <label class="profile-settings__switch" for="onlyVeryf">
                            <input type="checkbox" checked id="onlyVeryf" class="profile-settings__input" />
                            <div class="profile-settings__slider profile-settings__slider--round"></div>
                        </label>
                        <h3 class="veryfy-checkbox">
                            Только верифицированные
                        </h3>
                    </div>
                </div>
            </div>
            <div class="buttons-block">
                <button class="ct-button ct-button--secondary">
                    <svg width="14" height="14" fill="none" class="ct-button__icon--left">
                        <path d="M13.707 12.293a1 1 0 11-1.414 1.414L7 8.414l-5.293 5.293a.997.997 0 01-1.414 0 1 1 0 010-1.414L5.586 7 .293 1.707A1 1 0 111.707.293L7 5.586 12.293.293a1 1 0 111.414 1.414L8.414 7l5.293 5.293z" fill="#fff"/>
                    </svg>
                    Сбросить критерии
                </button>
                <button class="ct-button ct-button--primary">
                    <svg width="18" height="18" fill="none" class="ct-button__icon--left">
                        <path d="M2.833 9.753l-1.434 1.433A6.96 6.96 0 010 7a7 7 0 017-7 6.96 6.96 0 014.186 1.4L9.753 2.832A4.966 4.966 0 007 2C4.243 2 2 4.243 2 7c0 1.017.309 1.962.833 2.753zm14.874 6.54l-5.106-5.107a6.96 6.96 0 000-8.372l-1.434 1.433C11.691 5.037 12 5.983 12 7c0 2.757-2.243 5-5 5a4.967 4.967 0 01-2.753-.833l-1.433 1.434a6.96 6.96 0 008.373 0l5.106 5.106a.996.996 0 001.414 0 1 1 0 000-1.414z" fill="#fff"/>
                    </svg>
                    Искать еще раз
                </button>
            </div>
        </div>
    </div>
</body>
</html>
