<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button</title>
</head>
<body class="ct-component-wrapper">
    <h2>In usage place use <b>max-width</b> for button</h2>
    <br>
    <h3>Primary button</h3>
    <button class="ct-button ct-button--primary">
        Button here
    </button>
        <hr>

    <h3>Primary button</h3>
    <button class="ct-button ct-button--primary">
        <img src="../../img/shared/balance.svg" alt="iconName" class="ct-button__icon">
    </button>
        <hr>

    <h3>Secondary button</h3>
    <button class="ct-button ct-button--secondary">
        Button here
    </button>
        <hr>

    <h3>Success button</h3>
    <button class="ct-button ct-button--success">
        Button here
    </button>
        <hr>

    <h3>Danger button</h3>
    <button class="ct-button ct-button--danger">
        Button here
    </button>
        <hr>

    <h3>Primary button-mini</h3>
    <button class="ct-button ct-button--primary ct-button--mini">
        Button here
    </button>
        <hr>

    <h3>Secondary button-mini</h3>
    <button class="ct-button ct-button--secondary ct-button--mini">
        Button here
    </button>
        <hr>

    <h3>Button with left icon</h3>
    <button class="ct-button ct-button--secondary">
        <img src="../../img/shared/balance.svg" alt="iconName" class="ct-button__icon--left">
        Button here
    </button>
        <hr>

    <h3>Button with right icon</h3>
    <button class="ct-button ct-button--secondary">
        Button here
        <img src="../../img/shared/balance.svg" alt="iconName" class="ct-button__icon--right">
    </button>
        <hr>

    <h3>Button-text with icon</h3>
    <button class="ct-button ct-button--clear">
        <img src="../../img/shared/balance.svg" alt="iconName" class="ct-button__icon--left">
        Отменить изменения
    </button>
        <hr>
</body>
</html>