<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alerts</title>
</head>
<body>
    <!-- Delete user custom alert -->
    <h2>Delete user custom alert</h2>
    <br>


    <div class="custom-alert custom-alert--devele-mode">
        <div class="custom-alert__content-wrap">
            <div class="custom-alert__user-avatar">
                <svg width="40" height="40" fill="none" class="icon-img">
                    <circle cx="20" cy="20" r="20" fill="#6E7388"/><path d="M28 20c0 .6-.4 1-1 1H13a1 1 0 010-2h14c.6 0 1 .4 1 1z" fill="#fff"/>
                </svg>
                <img
                    src="../../img/shared/avatar2@x.png"
                    alt="userFullName"
                    class="custom-alert__user-img"
                >
            </div>
            <p class="custom-alert__action-text">
                Пользователь Лиза Авдеева <br>
                <span class="ct-text--semi-bold">удален из контактов</span>
            </p>
            <button class="ct-reset-button">
                <svg width="14" height="14" fill="none">
                    <path d="M13.707 12.293a.9994.9994 0 010 1.414A.9967.9967 0 0113 14a.9967.9967 0 01-.707-.293L7 8.414l-5.293 5.293A.9968.9968 0 011 14a.9968.9968 0 01-.707-.293.9996.9996 0 010-1.414L5.586 7 .293 1.707a.9996.9996 0 010-1.414.9996.9996 0 011.414 0L7 5.586 12.293.293a.9996.9996 0 011.414 0 .9995.9995 0 010 1.414L8.414 7l5.293 5.293z" fill="#fff"/>
                </svg>
            </button>
        </div>
    </div>

    <br>

    <!-- Block user custom alert -->
    <h2>Block user custom alert</h2>
    <br>

    
    <div class="custom-alert custom-alert--block-mode">
        <div class="custom-alert__content-wrap">
            <div class="custom-alert__user-avatar">
                <svg width="40" height="40" fill="none" class="icon-img">
                    <circle cx="20" cy="20" r="20" fill="#6E7388"/><path d="M27 18h-1v-2a6 6 0 00-12 0v2h-1a1 1 0 00-1 1v10c0 .6.4 1 1 1h14c.6 0 1-.4 1-1V19c0-.6-.4-1-1-1zm-11-2a4 4 0 018 0v2h-8v-2zm10 12H14v-8h12v8z" fill="#fff"/>
                </svg>
                <img
                    src="../../img/shared/avatar2@x.png"
                    alt="userFullName"
                    class="custom-alert__user-img"
                >
            </div>
            <p class="custom-alert__action-text">
                Пользователь Лиза Авдеева <br>
                <span class="ct-text--semi-bold">заблокирован</span>
            </p>
            <button class="ct-reset-button">
                <svg width="14" height="14" fill="none">
                    <path d="M13.707 12.293a.9994.9994 0 010 1.414A.9967.9967 0 0113 14a.9967.9967 0 01-.707-.293L7 8.414l-5.293 5.293A.9968.9968 0 011 14a.9968.9968 0 01-.707-.293.9996.9996 0 010-1.414L5.586 7 .293 1.707a.9996.9996 0 010-1.414.9996.9996 0 011.414 0L7 5.586 12.293.293a.9996.9996 0 011.414 0 .9995.9995 0 010 1.414L8.414 7l5.293 5.293z" fill="#fff"/>
                </svg>
            </button>
        </div>
    </div>

    <br>


    <!-- Unblock user custom alert -->
    <h2>Unblock user custom alert</h2>
    <br>

    
    <div class="custom-alert custom-alert--unblock-mode">
        <div class="custom-alert__content-wrap">
            <div class="custom-alert__user-avatar">
                <svg width="40" height="40" fill="none" class="icon-img">
                    <circle cx="20" cy="20" r="20" fill="url(#paint0_linear)"/><path d="M27 18H16v-2a4 4 0 017.7-1.6 1 1 0 001.8-.7A6 6 0 0014 16v2h-1a1 1 0 00-1 1v10c0 .6.4 1 1 1h14c.6 0 1-.4 1-1V19c0-.6-.4-1-1-1zm-1 10H14v-8h12v8z" fill="#fff"/><defs><linearGradient id="paint0_linear" x1="40" y1="20" x2="0" y2="20" gradientUnits="userSpaceOnUse"><stop stop-color="#DC1B48"/><stop offset="1" stop-color="#FF756D"/></linearGradient></defs>
                </svg>
                <img
                    src="../../img/shared/avatar2@x.png"
                    alt="userFullName"
                    class="custom-alert__user-img"
                >
            </div>
            <p class="custom-alert__action-text">
                Пользователь Лиза Авдеева <br>
                <span class="ct-text--semi-bold">заблокирован</span>
            </p>
            <button class="ct-reset-button">
                <svg width="14" height="14" fill="none">
                    <path d="M13.707 12.293a.9994.9994 0 010 1.414A.9967.9967 0 0113 14a.9967.9967 0 01-.707-.293L7 8.414l-5.293 5.293A.9968.9968 0 011 14a.9968.9968 0 01-.707-.293.9996.9996 0 010-1.414L5.586 7 .293 1.707a.9996.9996 0 010-1.414.9996.9996 0 011.414 0L7 5.586 12.293.293a.9996.9996 0 011.414 0 .9995.9995 0 010 1.414L8.414 7l5.293 5.293z" fill="#2a2f44"/>
                </svg>
            </button>
        </div>
    </div>

    <br>


    <!-- Add user custom alert -->
    <h2>Add user custom alert</h2>
    <br>

    
    <div class="custom-alert custom-alert--add-mode">
        <div class="custom-alert__content-wrap">
            <div class="custom-alert__user-avatar">
                <svg width="40" height="40" fill="none" class="icon-img">
                    <circle cx="20" cy="20" r="20" fill="url(#paint0_linear)"/><path d="M28 20c0 .6-.4 1-1 1h-6v6a1 1 0 01-2 0v-6h-6a1 1 0 010-2h6v-6a1 1 0 012 0v6h6c.6 0 1 .4 1 1z" fill="#fff"/><defs><linearGradient id="paint0_linear" x1="40" y1="20" x2="0" y2="20" gradientUnits="userSpaceOnUse"><stop stop-color="#DC1B48"/><stop offset="1" stop-color="#FF756D"/></linearGradient></defs>
                </svg>
                <img
                    src="../../img/shared/avatar2@x.png"
                    alt="userFullName"
                    class="custom-alert__user-img"
                >
            </div>
            <p class="custom-alert__action-text">
                Пользователь Лиза Авдеева <br>
                <span class="ct-text--semi-bold">добавлен в контакты</span>
            </p>
            <button class="ct-reset-button">
                <svg width="14" height="14" fill="none">
                    <path d="M13.707 12.293a.9994.9994 0 010 1.414A.9967.9967 0 0113 14a.9967.9967 0 01-.707-.293L7 8.414l-5.293 5.293A.9968.9968 0 011 14a.9968.9968 0 01-.707-.293.9996.9996 0 010-1.414L5.586 7 .293 1.707a.9996.9996 0 010-1.414.9996.9996 0 011.414 0L7 5.586 12.293.293a.9996.9996 0 011.414 0 .9995.9995 0 010 1.414L8.414 7l5.293 5.293z" fill="#2a2f44"/>
                </svg>
            </button>
        </div>
    </div>

    <br>

    <!-- Words sended custom alert -->
    <h2>Words sended custom alert</h2>
    <br>

    
    <div class="custom-alert custom-alert--words-send-mode">
        <div class="custom-alert__content-wrap">
            <div class="custom-alert__user-avatar">
                <svg width="40" height="40" fill="none" class="icon-img">
                    <circle cx="20" cy="20" r="20" fill="url(#paint0_linear)"/><path d="M12 19h7v2h-7a1 1 0 010-2zm-1-5c0 .6.4 1 1 1h7v-2h-7a1 1 0 00-1 1zm18 0c0-.6-.4-1-1-1h-7v2h7c.6 0 1-.4 1-1zm-1 5h-7v2h7a1 1 0 000-2zm-17 7c0 .6.4 1 1 1h7v-2h-7a1 1 0 00-1 1zm17-1h-7v2h7a1 1 0 000-2z" fill="#fff"/><defs><linearGradient id="paint0_linear" x1="40" y1="20" x2="0" y2="20" gradientUnits="userSpaceOnUse"><stop stop-color="#DC1B48"/><stop offset="1" stop-color="#FF756D"/></linearGradient></defs>
                </svg>
                <img
                    src="../../img/shared/avatar2@x.png"
                    alt="userFullName"
                    class="custom-alert__user-img"
                >
            </div>
            <p class="custom-alert__action-text">
                Пользователь Лиза Авдеева <br>
                <span class="ct-text--semi-bold">отправлены ученику</span>
            </p>
            <button class="ct-reset-button">
                <svg width="14" height="14" fill="none">
                    <path d="M13.707 12.293a.9994.9994 0 010 1.414A.9967.9967 0 0113 14a.9967.9967 0 01-.707-.293L7 8.414l-5.293 5.293A.9968.9968 0 011 14a.9968.9968 0 01-.707-.293.9996.9996 0 010-1.414L5.586 7 .293 1.707a.9996.9996 0 010-1.414.9996.9996 0 011.414 0L7 5.586 12.293.293a.9996.9996 0 011.414 0 .9995.9995 0 010 1.414L8.414 7l5.293 5.293z" fill="#2a2f44"/>
                </svg>
            </button>
        </div>
    </div>

    <br>


    <!-- Fail sanding words alert -->
    <h2>Fail sanding words Alert</h2>
    <br>

    
    <div class="custom-alert custom-alert--word-mode">
        <svg width="800" height="80" fill="none" class="custom-alert__filter-blur">
            <g opacity=".5" filter="url(#filter0_f)"><circle cx="400" cy="40" r="200" fill="#DC1B48"/></g><defs><filter id="filter0_f" x="0" y="-360" width="800" height="800" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"><feFlood flood-opacity="0" result="BackgroundImageFix"/><feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape"/><feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur"/></filter></defs>
        </svg>
        <h3 class="custom-alert__word-alert">
            <span class="ct-text--semi-bold">Слова не отправлены</span><br>
            Вы не ввели необходимое направление перевода в одном или нескольких словах.
        </h3>
    </div>
</body>
</html>