<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictionary</title>
</head>
<body class="ct-component-wrapper">
    <div class="dictionary">
        <div class="dictionary__wrapper">
            <div class="dictionary__word-input">
                <label>
                    <input
                        type="text"
                        class="language-input"
                        placeholder="Выбирете язык для ввода"
                    >
                    <img
                        src="../../img/shared/options-dots.svg"
                        alt="options dots"
                        class="language-icon"
                    >
                </label>
                <label>
                    <input
                        type="text"
                        class="write-input"
                        placeholder="Введите слово"
                    >
                    <button class="ct-reset-button write-icon">
                        <img src="../../img/shared/dictionary/dictionary-listen-word.svg" alt="dictionary listen word" >
                    </button>
                </label>
            </div>
            <img
                src="../../img/shared/dictionary/dictionary-arrows.svg"
                alt="dictionary arrows"
                class="dictionary__translate-arrows"
            >
            <div class="dictionary__word-input">
                <label>
                    <input
                        type="text"
                        class="language-input"
                        placeholder="Выбирете язык для перевода"
                    >
                    <img
                        src="../../img/shared/options-dots.svg"
                        alt="options dots"
                        class="language-icon"
                    >
                </label>
                <label>
                    <input
                        type="text"
                        class="write-input"
                        placeholder="Введите слово"
                    >
                    <button class="ct-reset-button write-icon">
                        <img src="../../img/shared/dictionary/dictionary-listen-word.svg" alt="dictionary listen word">
                    </button>
                </label>
            </div>
            <button class="ct-reset-button dictionary__close-icon">
                <img src="../../img/shared/close-icon.svg" alt="close-icon">
            </button>
        </div>
        <div class="dictionary__translate-block">
            <h3 class="translate-block__title">Имя существительное</h3>
            <div class="dictionary__translate-item">
                <h3 class="word-before-translate">fatigue</h3>
                <p class="word-after-translate">
                    усталость, утомление, утомительная работа,
                    утомительность, рабочая команда, нестроевой наряд
                </p>
            </div>
            <div class="dictionary__translate-item">
                <h3 class="word-before-translate">weariness</h3>
                <p class="word-after-translate">
                    усталость, скука, утомленность
                </p>
            </div>
            <div class="dictionary__translate-item">
                <h3 class="word-before-translate">tiredness</h3>
                <p class="word-after-translate">
                    усталость, утомление
                </p>
            </div>
            <div class="dictionary__translate-item">
                <h3 class="word-before-translate">lassitude</h3>
                <p class="word-after-translate">
                    усталость, вялость, апатия
                </p>
            </div>
            <div class="dictionary__translate-item">
                <h3 class="word-before-translate">languor</h3>
                <p class="word-after-translate">
                    истома, томление, вялость, томность, слабость, усталость
                </p>
            </div>
            <div class="dictionary__translate-item">
                <h3 class="word-before-translate">languor</h3>
                <p class="word-after-translate">
                    истома, томление, вялость, томность, слабость, усталость
                </p>
            </div>
            <div class="dictionary__translate-item">
                <h3 class="word-before-translate">languor</h3>
                <p class="word-after-translate">
                    истома, томление, вялость, томность, слабость, усталость
                </p>
            </div>
        </div>
    </div>
</body>
</html>