<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <header class="ct-header">
        <div class="ct-header__navigation">
            <img src="../../img/shared/header/logo.svg" alt="Logo" class="ct-header__logo">
            <nav class="ct-header__nav">
                <ul class="nav-list">
                    <li class="nav-list__item nav-list__item--active">
                        <img src="../../img/shared/header/search.svg" alt="Search" class="img">
                        <a href="" class="link">Поиск</a>
                    </li>
                    <li class="nav-list__item">
                        <img src="../../img/shared/header/word-learning.svg" alt="Word learning" class="img">
                        <a href="" class="link">Учить слова</a>
                    </li>
                    <li class="nav-list__item">
                        <img src="../../img/shared/header/contacts.svg" alt="Contacts" class="img">
                        <a href="" class="link">Контакты</a>
                    </li>
                    <li class="nav-list__item">
                        <img src="../../img/shared/header/chat.svg" alt="Chat" class="img">
                        <a href="" class="link">Общение</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="ct-header__user">
            <div class="ct-header__user-status user-status user-status--online "></div>
            <img src="../../img/shared/avatar.png" alt="Pase Here Full Name" class="user-image">
            <p class="user-name">
                Ирина Игнатьева:
                <span class="user-role">Ученик</span>
            </p>
            <p class="user-balance">
                <img src="../../img/shared/header/balance.svg" alt="Balance" class="img">
                0 ₽
            </p>
            <!-- add user-profile-link--active class for activate profile link -->
            <a href="" class="user-profile-link">
                Профиль
                <img src="../../img/shared/header/profile.svg" alt="Profile" class="img">
            </a>
            <a href="" class="user-auth">
                <img src="../../img/shared/header/auth.svg" alt="Auth" class="img">
            </a>
        </div>
    </header>
</body>
</html>