<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Card</title>
</head>
<body class="ct-component-wrapper">
    <h2>User card search result</h2>
    <p>their difference is only in the presence of the footer</p>
    <br>
    <div class="user-card">
        <div class="user-card__wrapper"></div>
            <div class="user-card__avatar-block">
                <div class="user-card__status user-status user-status--online"></div>
                <img
                    src="../../img/shared/user-card/user-avatar.png"
                    alt="Paste UserName"
                    class="user-card__avatar-img"
                >
                <img
                    src="../../img/shared/user-card/nationality.svg"
                    alt="NameOfFlatCounry"
                    class="user-car__nationality"
                >
            </div>
            <div class="user-card__info-block">
                <h3 class="user-card__name">Елена Симонова</h3>
                <div class="user-card__status-role">
                    <img
                        src="../../img/shared/user-card/verefied-user.svg"
                        alt="verefied"
                        class=""
                    >
                    <p class="user-card__role">Репетитор</p>
                    <img
                        src="../../img/shared/user-card/nationality.svg"
                        alt="teaches languages"
                        class=""
                    >
                </div>
                <div class="user-card__statistics">
                    <a href="" class="user-card__stars">
                        <img src="../../img/shared/user-card/star.svg" alt="star">
                        <span class="user-card__stats-count">4.8</span>
                    </a>
                    <a href="" class="user-card__comments">
                        <img src="../../img/shared/user-card/comments.svg" alt="comments">
                        <span class="user-card__stats-count">2338</span>
                    </a>
                    <a href="" class="user-card__budget">
                        <img src="../../img/shared/user-card/budget.svg" alt="budget">
                        <span class="user-card__stats-count">От 120 ₽ / мин.</span>
                    </a>
                </div>
            </div>
            <a href="" class="user-card__info">
                <img src="../../img/shared/user-card/info.svg" alt="info">
            </a>
        </div>
    </div>

    <br><br>

    <h2>User card contact page</h2>
    <br>
    <div class="user-card user-card--full">
        <div class="user-card__wrapper">
            <div class="user-card__avatar-block">
                <div class="user-card__status user-status user-status--online"></div>
                <img
                    src="../../img/shared/user-card/user-avatar.png"
                    alt="Paste UserName"
                    class="user-card__avatar-img"
                >
                <img
                    src="../../img/shared/user-card/nationality.svg"
                    alt="NameOfFlatCounry"
                    class="user-car__nationality"
                >
            </div>
            <div class="user-card__info-block">
                <h3 class="user-card__name">Елена Симонова</h3>
                <div class="user-card__status-role">
                    <img
                        src="../../img/shared/user-card/verefied-user.svg"
                        alt="verefied"
                        class=""
                    >
                    <p class="user-card__role">Репетитор</p>
                    <img
                        src="../../img/shared/user-card/nationality.svg"
                        alt="teaches languages"
                        class=""
                    >
                </div>
                <div class="user-card__statistics">
                    <a href="" class="user-card__stars">
                        <img src="../../img/shared/user-card/star.svg" alt="star">
                        <span class="user-card__stats-count">4.8</span>
                    </a>
                    <a href="" class="user-card__comments">
                        <img src="../../img/shared/user-card/comments.svg" alt="comments">
                        <span class="user-card__stats-count">2338</span>
                    </a>
                    <a href="" class="user-card__budget">
                        <img src="../../img/shared/user-card/budget.svg" alt="budget">
                        <span class="user-card__stats-count">От 120 ₽ / мин.</span>
                    </a>
                </div>
            </div>
            <a href="" class="user-card__info">
                <img src="../../img/shared/user-card/info.svg" alt="info">
            </a>
        </div>
        <div class="user-card__mark-block user-card__empty-mark">
            <input type="text" placeholder="Добавить примечание (видите только вы)" class="user-card__mark-input">
            <button class="user-card__new-mark ct-reset-button">
                <img src="../../img/shared/user-card/add-mark.svg" alt="add-mark">
            </button>
        </div>
    </div>

    <br><br>

    <h2>User card editing mark</h2>
    <br>
    <div class="user-card user-card--full">
        <div class="user-card__wrapper">
            <div class="user-card__avatar-block">
                <div class="user-card__status user-status user-status--online"></div>
                <img
                    src="../../img/shared/user-card/user-avatar.png"
                    alt="Paste UserName"
                    class="user-card__avatar-img"
                >
                <img
                    src="../../img/shared/user-card/nationality.svg"
                    alt="NameOfFlatCounry"
                    class="user-car__nationality"
                >
            </div>
            <div class="user-card__info-block">
                <h3 class="user-card__name">Елена Симонова</h3>
                <div class="user-card__status-role">
                    <img
                        src="../../img/shared/user-card/verefied-user.svg"
                        alt="verefied"
                        class=""
                    >
                    <p class="user-card__role">Репетитор</p>
                    <img
                        src="../../img/shared/user-card/nationality.svg"
                        alt="teaches languages"
                        class=""
                    >
                </div>
                <div class="user-card__statistics">
                    <a href="" class="user-card__stars">
                        <img src="../../img/shared/user-card/star.svg" alt="star">
                        <span class="user-card__stats-count">4.8</span>
                    </a>
                    <a href="" class="user-card__comments">
                        <img src="../../img/shared/user-card/comments.svg" alt="comments">
                        <span class="user-card__stats-count">2338</span>
                    </a>
                    <a href="" class="user-card__budget">
                        <img src="../../img/shared/user-card/budget.svg" alt="budget">
                        <span class="user-card__stats-count">От 120 ₽ / мин.</span>
                    </a>
                </div>
            </div>
            <a href="" class="user-card__info">
                <img src="../../img/shared/user-card/info.svg" alt="info">
            </a>
        </div>
        <div class="user-card__mark-block">
            <input type="text" value="Делает скидку, если более 2 часов" placeholder="Добавить примечание (видите только вы)" class="user-card__mark-input">
            <button class="user-card__new-mark ct-reset-button">
                <img src="../../img/shared/user-card/edit-mark.svg" alt="edit-mark">
            </button>
        </div>
    </div>

    <br><br>


    <h2>User card adding new mark</h2>
    <br>
    <div class="user-card user-card--full">
        <div class="user-card__wrapper">
            <div class="user-card__avatar-block">
                <div class="user-card__status user-status user-status--online"></div>
                <img
                    src="../../img/shared/user-card/user-avatar.png"
                    alt="Paste UserName"
                    class="user-card__avatar-img"
                >
                <img
                    src="../../img/shared/user-card/nationality.svg"
                    alt="NameOfFlatCounry"
                    class="user-car__nationality"
                >
            </div>
            <div class="user-card__info-block">
                <h3 class="user-card__name">Елена Симонова</h3>
                <div class="user-card__status-role">
                    <img
                        src="../../img/shared/user-card/verefied-user.svg"
                        alt="verefied"
                        class=""
                    >
                    <p class="user-card__role">Репетитор</p>
                    <img
                        src="../../img/shared/user-card/nationality.svg"
                        alt="teaches languages"
                        class=""
                    >
                </div>
                <div class="user-card__statistics">
                    <a href="" class="user-card__stars">
                        <img src="../../img/shared/user-card/star.svg" alt="star">
                        <span class="user-card__stats-count">4.8</span>
                    </a>
                    <a href="" class="user-card__comments">
                        <img src="../../img/shared/user-card/comments.svg" alt="comments">
                        <span class="user-card__stats-count">2338</span>
                    </a>
                    <a href="" class="user-card__budget">
                        <img src="../../img/shared/user-card/budget.svg" alt="budget">
                        <span class="user-card__stats-count">От 120 ₽ / мин.</span>
                    </a>
                </div>
            </div>
            <a href="" class="user-card__info">
                <img src="../../img/shared/user-card/info.svg" alt="info">
            </a>
        </div>
        <div class="user-card__mark-block user-card__empty-mark">
            <input type="text" value="Говорит с сильным акц" placeholder="Добавить примечание (видите только вы)" class="user-card__mark-input">
            <button class="user-card__new-mark user-card__new-mark--submit ct-reset-button">
                <img src="../../img/shared/user-card/submit-mark.svg" alt="submit-mark">
            </button>
            <button class="user-card__new-mark ct-reset-button">
                <img src="../../img/shared/user-card/cancel-mark.svg" alt="cancel-mark">
            </button>
        </div>
    </div>

    <br><br>

    <h2>Empty User card</h2>
    <br>
    <div class="user-card--empty"></div>
</body>
</html>