.ct-header {
    position: relative;
    width: 100%;
    height: 64px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ct-header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--primary-frames);
    box-shadow: 0px 5px 15px rgba(42, 47, 68, 0.06);
    border-radius: 8px;
}

.ct-header__nav {
    display: block;
}

.ct-header__navigation {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.ct-header__logo {
    margin-right: 24px;
}

.ct-header .nav-list {
    display: flex;
    margin: 0;
}

.ct-header .nav-list__item {
    position: relative;
    top: 2px;
    padding: 20px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
    transition: all 0.2s ease-in;
    border-bottom: 2px solid transparent;
}

.ct-header .nav-list__item:hover,
.ct-header .nav-list__item--active {
    background-color: var(--primary-white);
    box-shadow: 0 3px 6px rgba(42, 47, 68, 0.1), inset 0px -2px 0px var(--primary-red);
    border-bottom: 2px solid;
}

.ct-header .nav-list__item:hover .link,
.ct-header .nav-list__item--active .link {
    color: var(--primary-red);
}

.ct-header .nav-list__item:hover .img,
.ct-header .nav-list__item--active .img {
    filter: var(--invert-to-red);
}

.ct-header .link {
    margin-left: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    color: var(--primary-dark);
}

.ct-header .link:hover {
    text-decoration: none;
}

.ct-header__user {
    display: flex;
    align-items: center;
}

.ct-header .user-image {
    position: relative;
    margin-right: 12px;
    max-width: 48px;
    padding: 3px;
    border-radius: 50%;
    border: 1px solid var(--primary-frames);
}

.ct-header__user-status {
    position: absolute;
    top: 10px;
    z-index: 10;
}

.ct-header .user-name {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    color: var(--primary-dark);
}

.ct-header .user-role {
    margin-right: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: var(--primary-gray);
}

.ct-header .user-balance {
    margin-bottom: 0;
    margin-right: 24px;
    padding: 9px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    line-height: 14px;
    font-size: 14px;
    background-color: var(--primary-white);
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
    border-radius: 8px;
}

.ct-header .user-balance .img {
    margin-right: 8px;
}

.ct-header .user-profile-link {
    margin-right: 24px;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    color: var(--primary-red);
}

.ct-header .user-profile-link:hover {
    text-decoration: none;
}

.ct-header .user-profile-link .img {
    margin-left: 10px;
}

.ct-header .user-auth {
    padding: 20px;
    padding-right: 0;
    cursor: pointer;
    border-left: 1px solid var(--primary-frames);
}

.user-profile-link--active {
    position: relative;
    padding: 20px 0;
}

.user-profile-link--active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 75%;
    border-bottom: 2px solid var(--primary-red);
}

.ct-header__nav--mobile {
    position: absolute;
    right: 64px;
    top: 64px;
    display: none;
}

.ct-header__nav--mobile .nav-list {
    flex-direction: column;
    background: white;
    border-radius: 8px;
}

.ct-header__nav--mobile .nav-list .nav-list__item--active,
.ct-header__nav--mobile .nav-list .nav-list__item:hover {
    border-bottom: 0;
}

.burger-menu-toggle {
    position: absolute;
    right: 80px;
    display: none;
}

@media (max-width: 1280px) {
    .ct-header {
        justify-content: flex-start;
    }
    .ct-header__nav {
        display: none;
    }
    .user-auth {
        position: absolute;
        right: 21px;
    }
    .burger-menu-toggle {
        display: block;
    }
    .ct-header .user-profile-link  {
        display: none;
    }
    .ct-header__nav--mobile.active {
        display: block;
    }
}
