.user-card {
    position: relative;
    max-width: 358px;
    padding: 16px;
    display: flex;
    background-color: var(--primary-white);
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
    border-radius: 8px;
}

.user-card--full {
    flex-direction: column;
    padding: 16px 16px 10px;
}

.user-card--empty {
    max-width: 358px;
    height: 167px;
    background: var(--primary-white);
    opacity: 0.25;
    border-radius: 8px;
}

.user-card__wrapper {
    display: flex;
    margin-bottom: 15px;
}

.user-card__avatar-block {
    position: relative;
    margin-right: 16px;
}

.user-card__info {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}

.user-card--full .user-card__info {
    top: 40%;
    transform: translateY(-40%);
}

.user-card__status {
    position: absolute;
    top: 12px;
    left: 3px;
}

.user-card__avatar-img {
    max-width: 92px;
    padding: 2px;
    border: 1px solid #c2c8de;
    border-radius: 50%;
}

.user-car__nationality {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--primary-white);
    border: 1px solid var(--primary-white);
    filter: drop-shadow(0px 2px 5px rgba(110, 115, 136, 0.2));
    border-radius: 2px;
}

.user-card__name {
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    color: var(--pramary-ebony);
}

.user-card__status-role {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-card__role {
    margin: 0 10px 0 8px;
    font-size: 14px;
    line-height: 14px;
    color: var(--primary-red);
}

.user-card__statistics {
    display: flex;
}

.user-card__stars,
.user-card__comments,
.user-card__budget {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
}

.user-card__stars:hover,
.user-card__comments:hover,
.user-card__budget:hover {
    text-decoration: none;
}

.user-card__stars img,
.user-card__comments img,
.user-card__budget img {
    margin-bottom: 9px;
}

.user-card__stars,
.user-card__comments {
    margin-right: 16px;
}

.user-card__stats-count {
    font-size: 12px;
    line-height: 12px;
    color: var(--secondary-gray);
}

.user-card__mark-block::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #dbdff0;
}

.user-card__empty-mark::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 40px;
    opacity: 0.3;
    background-color: #dbdff0;
}

.user-card__mark-input {
    position: relative;
    width: 95%;
    padding: 0;
    padding-top: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: var(--pramary-ebony);
    border: none;
    background: transparent;
    z-index: 10;
}

.user-card__mark-input:focus {
    outline: none;
}

.user-card__mark-input::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: var(--secondary-gray);
}

.user-card__new-mark {
    position: absolute;
    right: 16px;
    bottom: 10px;
    cursor: pointer;
}

.user-card__new-mark--submit {
    right: 36px;
}
