.search-page {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
}

.search-page__head {
    margin-bottom: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-page__title {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    color: var(--primary-dark);
}

.search-page__description {
    text-align: center;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 14px;
    color: var(--primary-dark);
}

.search-page .btn-group {
    width: 100%;
}

.search-page .btn-group .profile-cabinet__select-status {
    width: 100%;
    padding: 0 17px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-white);
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
    border-radius: 8px;
    font-size: 14px;
    line-height: 14px;
    color: var(--primary-dark);
    border: none;
    cursor: pointer;
}

.search-page .btn-group .profile-cabinet__select-status.active {
    border-radius: 8px 8px 0 0  ;
}

.search-page .btn-group .dropdown-menu {
    width: 100%;
    max-height: 205px;
    margin-top: 0;
    padding: 0;
    border: none;
    background: var(--primary-white);
    box-shadow: 0px 15px 10px rgba(42, 47, 68, 0.1);
    border-radius: 0px 0px 8px 8px;
    overflow: auto;
}

.search-page__body .selector-title {
    position: relative;
    left: 5px;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: var(--primary-dark);
}

.search-page__body .selector-title span {
    font-weight: 500;
}

.search-page__body .grid-block {
    margin-bottom: 48px;
    display: grid;
    grid-template-columns: 358px 168px 168px 358px;
    align-items: flex-end;
    grid-gap: 24px;
}

.search-page__body .profile-settings__item {
    max-height: 48px;
}

.search-page__body .profile-settings__item .selector-title {
    margin-bottom: 0;
    margin-left: 12px;
    font-weight: normal;
}

.search-page__body .search-button {
    max-width: 358px;
    margin: 0 auto;
}

.dropdown-menu {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-white);
}

.dropdown-menu::-webkit-scrollbar {
    width: 4px;
}

.dropdown-menu::-webkit-scrollbar-track {
    background: transparent;
}

.dropdown-menu::-webkit-scrollbar-thumb {
    background-color: var(--secondary-light);
    border-radius: 2px;
}

.custom-dropdown-menu.active {
    position: absolute;
    top: 48px;
    width: 100%;
    padding: 16px;
    background-color: var(--primary-white);
    border-radius: 0 0 8px 8px;
    border-top: 1px solid var(--primary-frames);
    z-index: 10;
    display: block;
}

.custom-dropdown-menu-toggle.active .img {
    filter: var(--invert-to-red);
}

.custom-dropdown-menu {
    display: none;
}

.search-page .btn-group .custom-dropdown-menu button {
    margin-top: 20px;
}

.search-page .super-custom-selector .dropdown {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--primary-white);
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
    border-radius: 8px;
    font-size: 14px;
    line-height: 14px;
    color: var(--primary-dark);
    border: none;
    cursor: pointer;
}

.search-page .super-custom-selector .dropdown.show {
    border-radius: 8px 8px 0 0;
}

.super-custom-selector .dropdown-toggle {
    width: 100%;
    height: 48px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.search-page .super-custom-selector .dropdown.show .img {
    filter: var(--invert-to-red);
}

.search-page .super-custom-selector .dropdown-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    background: var(--primary-white);
    box-shadow: 0px 15px 10px rgba(42, 47, 68, 0.1);
    border-radius: 0 0 8px 8px;
    border: none;
}

.search-page .super-custom-selector .jRadioDropdown {
    display: none;
}

.search-page .super-custom-selector .dropdown-item {
    margin: 0;
    height: 48px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 48px;
    color: var(--primary-dark);
    border-top: 1px solid var(--primary-frames);
}

.search-page .super-custom-selector .ins {
    font-size: 14px;
    line-height: 48px;
    color: var(--primary-dark);
    text-decoration: none;
}

.search-page .super-custom-selector .dropdown-toggle::after {
    display: none;
}

.search-page .super-custom-selector .dropdown-item.active {
    color: var(--primary-white);
}

.search-page .super-custom-selector .dropdown-item:focus {
    outline: none;
}

.super-custom-selector--search .dropdown-menu {
    height: 98px;
    overflow: auto;
}

.super-custom-selector--learning .dropdown-menu {
    height: 220px;
    overflow: auto;
}

.profile-settings__item .veryfy-checkbox {
    margin-bottom: 0;
    margin-left: 8px;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    color: var(--primary-black);
}

.profile-settings__item .veryfy-checkbox.unchecked {
    color: var(--primary-gray);
}

@media (max-width: 1200px) {
    .search-page__body .grid-block {
        justify-content: center;
        grid-template-columns: 325px 325px;
    }
}

/* Hidden version */
.search-page--modal.active {
    max-width: initial;
    padding: 32px;
    border-radius: 8px;
    background-color: rgba(120, 148, 175, 0.2);
    display: block;
}

.search-page--modal {
    display: none;
    margin-top: 24px;
}

.search-page--modal .search-page__body .grid-block {
    margin-bottom: 0;
}

.search-page--modal .search-page__body {
    display: flex;
    justify-content: space-between;
}

.search-page--modal .search-page__body .buttons-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
