<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat page</title>
</head>
<body>
    <div class="ct-circle-background"></div>

    <div class="chat-page">
        <aside class="chat-page__contacts-sidebar">
            <div class="chat-page__contacts-list">
                <div class="chat-page__contact-item">
                    <div class="contact-item__avatar">
                        <div class="contact-item__avatar--chat user-status user-status--ofline"></div>
                        <img
                            src="../img/shared/avatar2@x.png"
                            alt="userFullName"
                            class="img"
                        >
                    </div>
                    <div class="contact-item__details">
                        <h3 class="details-name">
                            Елена Симонова
                            <span>5 мин</span>
                        </h3>
                        <p class="details-role">
                            Репетитор
                        </p>
                        <span class="details-text">
                            <span>Вы:</span>
                            Когда вышлете новые слова?
                        </span>
                    </div>
                </div>
                <div class="chat-page__contact-item chat-page__contact-item--active">
                    <div class="contact-item__avatar">
                        <div class="contact-item__avatar--chat user-status user-status--online"></div>
                        <img
                            src="../img/shared/avatar2@x.png"
                            alt="userFullName"
                            class="img"
                        >
                    </div>
                    <div class="contact-item__details">
                        <h3 class="details-name">
                            Олег Петренко
                            <span>2 мин</span>
                        </h3>
                        <p class="details-role">
                            Репетитор
                        </p>
                        <span class="details-text">
                            <span>Вы:</span>
                            Когда вышлете новые слова?
                        </span>
                    </div>
                </div>
                <div class="chat-page__contact-item">
                    <div class="contact-item__avatar">
                        <div class="contact-item__avatar--chat user-status user-status--ofline"></div>
                        <img
                            src="../img/shared/avatar2@x.png"
                            alt="userFullName"
                            class="img"
                        >
                    </div>
                    <div class="contact-item__details">
                        <h3 class="details-name">
                            Галина Белова
                            <span>2 часа</span>
                        </h3>
                        <p class="details-role">
                            Репетитор
                        </p>
                        <span class="details-text">
                            <span>Вы:</span>
                            Когда вышлете новые слова?
                        </span>
                    </div>
                </div>
                <div class="chat-page__contact-item">
                    <div class="contact-item__avatar">
                        <div class="contact-item__avatar--chat user-status user-status--ofline"></div>
                        <img
                            src="../img/shared/avatar2@x.png"
                            alt="userFullName"
                            class="img"
                        >
                    </div>
                    <div class="contact-item__details">
                        <h3 class="details-name">
                            Лиза Авдеева
                            <span>Больше 6 мес.</span>
                        </h3>
                        <p class="details-role--non-knows">
                            (Не добавлен в контакты)
                        </p>
                        <span class="details-text">
                            <span>Вы:</span>
                            Когда вышлете новые слова?
                        </span>
                    </div>
                </div>
                <div class="chat-page__contact-item">
                    <div class="contact-item__avatar">
                        <div class="contact-item__avatar--chat user-status user-status--ofline"></div>
                        <img
                            src="../img/shared/avatar2@x.png"
                            alt="userFullName"
                            class="img"
                        >
                    </div>
                    <div class="contact-item__details">
                        <h3 class="details-name">
                            Светлана Ройтер
                            <span>Давно</span>
                        </h3>
                        <p class="details-role">
                            Репетитор
                        </p>
                        <span class="details-text">
                            <span>Вы:</span>
                            Когда вышлете новые слова?
                        </span>
                    </div>
                </div>
                <div class="chat-page__contact-item">
                    <div class="contact-item__avatar">
                        <div class="contact-item__avatar--chat user-status user-status--ofline"></div>
                        <img
                            src="../img/shared/avatar2@x.png"
                            alt="userFullName"
                            class="img"
                        >
                    </div>
                    <div class="contact-item__details">
                        <h3 class="details-name">
                            Лиза Авдеева
                            <span>Больше 6 мес.</span>
                        </h3>
                        <p class="details-role--non-knows">
                            (Не добавлен в контакты)
                        </p>
                        <span class="details-text">
                            <span>Вы:</span>
                            Когда вышлете новые слова?
                        </span>
                    </div>
                </div>
                <div class="chat-page__contact-item">
                    <div class="contact-item__avatar">
                        <div class="contact-item__avatar--chat user-status user-status--ofline"></div>
                        <img
                            src="../img/shared/avatar2@x.png"
                            alt="userFullName"
                            class="img"
                        >
                    </div>
                    <div class="contact-item__details">
                        <h3 class="details-name">
                            Светлана Ройтер
                            <span>Давно</span>
                        </h3>
                        <p class="details-role">
                            Репетитор
                        </p>
                        <span class="details-text">
                            <span>Вы:</span>
                            Когда вышлете новые слова?
                        </span>
                    </div>
                </div>
                <div class="chat-page__contact-item">
                    <div class="contact-item__avatar">
                        <div class="contact-item__avatar--chat user-status user-status--ofline"></div>
                        <img
                            src="../img/shared/avatar2@x.png"
                            alt="userFullName"
                            class="img"
                        >
                    </div>
                    <div class="contact-item__details">
                        <h3 class="details-name">
                            Лиза Авдеева
                            <span>Больше 6 мес.</span>
                        </h3>
                        <p class="details-role--non-knows">
                            (Не добавлен в контакты)
                        </p>
                        <span class="details-text">
                            <span>Вы:</span>
                            Когда вышлете новые слова?
                        </span>
                    </div>
                </div>
                <div class="chat-page__contact-item">
                    <div class="contact-item__avatar">
                        <div class="contact-item__avatar--chat user-status user-status--ofline"></div>
                        <img
                            src="../img/shared/avatar2@x.png"
                            alt="userFullName"
                            class="img"
                        >
                    </div>
                    <div class="contact-item__details">
                        <h3 class="details-name">
                            Светлана Ройтер
                            <span>Давно</span>
                        </h3>
                        <p class="details-role">
                            Репетитор
                        </p>
                        <span class="details-text">
                            <span>Вы:</span>
                            Когда вышлете новые слова?
                        </span>
                    </div>
                </div>
                <div class="chat-page__contact-item">
                    <div class="contact-item__avatar">
                        <div class="contact-item__avatar--chat user-status user-status--ofline"></div>
                        <img
                            src="../img/shared/avatar2@x.png"
                            alt="userFullName"
                            class="img"
                        >
                    </div>
                    <div class="contact-item__details">
                        <h3 class="details-name">
                            Лиза Авдеева
                            <span>Больше 6 мес.</span>
                        </h3>
                        <p class="details-role--non-knows">
                            (Не добавлен в контакты)
                        </p>
                        <span class="details-text">
                            <span>Вы:</span>
                            Когда вышлете новые слова?
                        </span>
                    </div>
                </div>
                <div class="chat-page__contact-item">
                    <div class="contact-item__avatar">
                        <div class="contact-item__avatar--chat user-status user-status--ofline"></div>
                        <img
                            src="../img/shared/avatar2@x.png"
                            alt="userFullName"
                            class="img"
                        >
                    </div>
                    <div class="contact-item__details">
                        <h3 class="details-name">
                            Светлана Ройтер
                            <span>Давно</span>
                        </h3>
                        <p class="details-role">
                            Репетитор
                        </p>
                        <span class="details-text">
                            <span>Вы:</span>
                            Когда вышлете новые слова?
                        </span>
                    </div>
                </div>
                <div class="chat-page__contact-item">
                    <div class="contact-item__avatar">
                        <div class="contact-item__avatar--chat user-status user-status--ofline"></div>
                        <img
                            src="../img/shared/avatar2@x.png"
                            alt="userFullName"
                            class="img"
                        >
                    </div>
                    <div class="contact-item__details">
                        <h3 class="details-name">
                            Лиза Авдеева
                            <span>Больше 6 мес.</span>
                        </h3>
                        <p class="details-role--non-knows">
                            (Не добавлен в контакты)
                        </p>
                        <span class="details-text">
                            <span>Вы:</span>
                            Когда вышлете новые слова?
                        </span>
                    </div>
                </div>
                <div class="chat-page__contact-item">
                    <div class="contact-item__avatar">
                        <div class="contact-item__avatar--chat user-status user-status--ofline"></div>
                        <img
                            src="../img/shared/avatar2@x.png"
                            alt="userFullName"
                            class="img"
                        >
                    </div>
                    <div class="contact-item__details">
                        <h3 class="details-name">
                            Светлана Ройтер
                            <span>Давно</span>
                        </h3>
                        <p class="details-role">
                            Репетитор
                        </p>
                        <span class="details-text">
                            <span>Вы:</span>
                            Когда вышлете новые слова?
                        </span>
                    </div>
                </div>
            </div>
        </aside>
        <main class="chat-page__main">
            <div class="chat-page__main-topbar">
                <div class="chat-page__chat-user">
                    <div class="chat-user__avatar">
                        <div class="chat-user__avatar--chat user-status user-status--ofline"></div>
                        <img
                            src="../img/shared/avatar2@x.png"
                            alt="userFullName"
                            class="img"
                        >
                    </div>
                    <div class="chat-user__details">
                        <h3 class="details-name">
                            Галина Белова
                        </h3>
                        <p class="details-role">
                            <svg width="12" height="12" fill="none" class="img">
                                <circle cx="6" cy="6" r="6" fill="url(#paint0_linear)"/><path d="M8.854 4.854l-3 3a.498.498 0 01-.708 0l-2-2a.5.5 0 11.708-.708L5.5 6.793l2.646-2.647a.5.5 0 11.708.708z" fill="#fff"/><defs><linearGradient id="paint0_linear" x1="12" y1="6" x2="0" y2="6" gradientUnits="userSpaceOnUse"><stop stop-color="#7894AF"/><stop offset="1" stop-color="#A9BED1"/></linearGradient></defs>
                            </svg>
                            Репетитор
                        </p>
                        <span class="details-online-text">
                            Был в сети 2 минуты назад
                        </span>
                    </div>
                </div>
                <div class="chat-page__buttons-group">
                    <button class="ct-button ct-button--secondary">
                        <svg width="22" height="14" fill="none" class="ct-button__icon--left">
                            <path d="M21.38 1.08a1 1 0 00-1.09.21L17 4.6V1a1 1 0 00-1-1H1a1 1 0 00-1 1v12a1 1 0 001 1h15a1 1 0 001-1V9.41l3.3 3.3A1 1 0 0022 12V2a1 1 0 00-.62-.92zM15 12H2V2h13v10zm5-2.41L17.41 7 20 4.41V9.6z" fill="#fff"/>
                        </svg>
                        Видео-звонок
                    </button>
                    <button class="ct-reset-button chat-page__more-button">
                        <svg width="20" height="4" fill="none">
                            <path d="M4 2a2 2 0 11-4 0 2 2 0 014 0z" fill="url(#paint0_linear)"/><path d="M12 2a2 2 0 11-4 0 2 2 0 014 0z" fill="url(#paint1_linear)"/><path d="M20 2a2 2 0 11-4 0 2 2 0 014 0z" fill="url(#paint2_linear)"/><defs><linearGradient id="paint0_linear" x1="20" y1="2" x2="0" y2="2" gradientUnits="userSpaceOnUse"><stop stop-color="#DC1B48"/><stop offset="1" stop-color="#FF756D"/></linearGradient><linearGradient id="paint1_linear" x1="20" y1="2" x2="0" y2="2" gradientUnits="userSpaceOnUse"><stop stop-color="#DC1B48"/><stop offset="1" stop-color="#FF756D"/></linearGradient><linearGradient id="paint2_linear" x1="20" y1="2" x2="0" y2="2" gradientUnits="userSpaceOnUse"><stop stop-color="#DC1B48"/><stop offset="1" stop-color="#FF756D"/></linearGradient></defs>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="chat-page__main-bottombar">

            </div>
        </main>
    </div>
</body>
</html>