/* shared styles here 'ct-className' */

/* before creating components */
* {
    transition: all 0.2s ease;
}

body {
    min-height: 100vh;
    background: linear-gradient(180deg, #f8fcff 0%, #cee0eb 100%);
}

.ct-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: #2a2f44;
}

/* Buttons */

.ct-button {
    width: 100%;
    max-height: 48px;
    padding: 17px 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    color: #fff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.ct-button:focus {
    outline: none;
}

.ct-button--primary {
    background: linear-gradient(270deg, #dc1b48 0%, #ff756d 100%);
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
}

.ct-button--secondary {
    background: #7894af;
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
}

.ct-button--success {
    background: #35d057;
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
}

.ct-button--danger {
    background: #dc1b48;
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
}

.ct-button--mini {
    padding: 10px 16px;
    font-size: 12px;
    line-height: 12px;
}

.ct-button__icon--left {
    margin-right: 10px;
}

.ct-button__icon--right {
    margin-left: 10px;
}

.ct-reset-button {
    padding: 0;
    background: none;
    border: none;
}

.ct-reset-button:focus {
    outline: none;
}

/* ----- Buttons ------ */

.ct-input {}
.ct-overlay {}
.ct-user-status {}

.ct-text--red {
    color: #dc1b48;
}

.ct-text--bold {
    font-weight: 700;
}

.ct-text--semi-bold {
    font-weight: 600;
}


/* TODO only for our storybook */
.ct-component-wrapper {
    padding: 50px !important;
}
