/* shared styles here 'ct-className' */

:root {
    --primary-red: #dc1b48;
    --primary-white: #ffffff;

    --primary-gray: #7894af;
    --light-gray: #dbdff0;

    --primary-green: #35d057;
    --pramary-ebony: #2a2f44;

    --secondary-gray: #6e7388;
}

/* before creating components */
* {
    transition: all 0.2s ease;
}

body {
    min-height: 100vh;
    background: linear-gradient(180deg, #f8fcff 0%, #cee0eb 100%);
}

.ct-title {
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: var(--pramary-ebony);
}

/* Buttons */

.ct-button {
    width: 100%;
    max-height: 48px;
    padding: 17px 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    color: var(--primary-white);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.ct-button:focus {
    outline: none;
}

.ct-button--primary {
    background: linear-gradient(270deg, var(--primary-red) 0%, #ff756d 100%);
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
}

.ct-button--secondary {
    background: var(--primary-gray);
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
}

.ct-button--success {
    background: var(--primary-green);
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
}

.ct-button--danger {
    background: var(--primary-red);
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
}

.ct-button--clear {
    background: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    color: var(--secondary-gray);
}

.ct-button--mini {
    padding: 10px 16px;
    font-size: 12px;
    line-height: 12px;
}

.ct-button__icon--left {
    margin-right: 10px;
}

.ct-button__icon--right {
    margin-left: 10px;
}

.ct-reset-button {
    padding: 0;
    background: none;
    border: none;
}

.ct-reset-button:focus {
    outline: none;
}

/* ----- Buttons ------ */

.ct-overlay {}

.ct-text--red {
    color: var(--primary-red);
}

.ct-text--green {
    color: var(--primary-green);
}

.ct-text--bold {
    font-weight: 700;
}

.ct-text--semi-bold {
    font-weight: 600;
}


/* TODO only for our storybook */
.ct-component-wrapper {
    padding: 50px !important;
}
