/* shared styles here 'ct-className' */

:root {
    --primary-red: #dc1b48;
    --primary-white: #ffffff;
    --primary-gray: #7894af;
    --light-gray: #dbdff0;
    --primary-green: #35d057;
    --primary-ebony: #2a2f44;

    --secondary-gray: #6e7388;

    --invert-to-red: invert(23%) sepia(85%) saturate(5383%) hue-rotate(336deg) brightness(88%) contrast(94%);
}

/* before creating components */
* {
    transition: all 0.2s ease;
}

body {
    min-height: 100vh;
    background: linear-gradient(180deg, #f8fcff 0%, #cee0eb 100%);
}

.ct-title {
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    color: var(--primary-ebony);
}

@media (max-width: 992px) {
    .ct-title {
        font-size: 24px;
        line-height: 24px;
    }
}

.ct-circle-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/shared/circle-background.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

/* Buttons */

.ct-button {
    width: 100%;
    max-height: 48px;
    padding: 17px 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    color: var(--primary-white);
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.ct-button:focus {
    outline: none;
}

.ct-button--primary {
    background: linear-gradient(270deg, var(--primary-red) 0%, #ff756d 100%);
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
}

.ct-button--secondary {
    background: var(--primary-gray);
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
}

.ct-button--success {
    background: var(--primary-green);
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
}

.ct-button--danger {
    background: var(--primary-red);
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
}

.ct-button--clear {
    background: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    color: var(--secondary-gray);
}

.ct-button--mini {
    padding: 10px 16px;
    font-size: 12px;
    line-height: 12px;
}

.ct-button__icon--left {
    margin-right: 10px;
}

.ct-button__icon--right {
    margin-left: 10px;
}

.ct-reset-button {
    padding: 0;
    background: none;
    border: none;
}

.ct-reset-button:focus {
    outline: none;
}

/* ----- Buttons ------ */

.ct-text--red {
    color: var(--primary-red);
}

.ct-text--green {
    color: var(--primary-green);
}

.ct-text--bold {
    font-weight: 700;
}

.ct-text--semi-bold {
    font-weight: 600;
}

.ct-back-link {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 12px;
    color: var(--primary-gray);
}

.ct-back-link .img {
    margin-right: 10px;
}

/* Custom Select */
.btn-group .profile-cabinet__select-status:focus {
    outline: none;
}

.btn-group .flex-block {
    display: flex;
}

.btn-group .user-status {
    margin-right: 8px;
}

.btn-group .dropdown-toggle::after {
    display: none !important;
}

.btn-group .dropdown-item {
    border-top: 1px solid var(--light-gray);
    padding: 18px;
    font-size: 14px;
    line-height: 14px;
    color: var(--primary-ebony);
}

.btn-group .dropdown-item:last-child:hover {
    border-radius: 0px 0px 8px 8px;
}

.btn-group.show .ct-button-reset {
    border-radius: 8px 8px 0 0;
}

.btn-group.show .ct-button-reset .img {
    filter: var(--invert-to-red);
}

.dropdown-menu,
.autocomplete-items {
    scrollbar-width: thin;
    scrollbar-color:var(--primary-white);
}

.autocomplete-items::-webkit-scrollbar,
.dropdown-menu::-webkit-scrollbar {
    width: 4px;
}

.autocomplete-items::-webkit-scrollbar-track
.dropdown-menu::-webkit-scrollbar-track {
    background: transparent;
}

.autocomplete-items::-webkit-scrollbar-thumb,
.dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #c2c8de;
    border-radius: 2px;
}

/* autocomplete */
.autocomplete {
    width: 100%;
    position: relative;
    display: inline-block;
  }
  
.autocomplete__input {
    width: 100%;
    padding: 14px;
    border: 1px solid transparent;
    background-color:var(--primary-white);
    border-radius: 8px;
    font-size: 14px;
    line-height: 14px;
    color: var(--primary-ebony);
}

.autocomplete__input::placeholder {
    font-size: 14px;
    line-height: 14px;
    color: var(--primary-ebony);
}

.autocomplete__input:focus {
    outline: none;
}

.autocomplete-items {
    position: absolute;
    left: 0;
    right: 0;
    max-height: 220px;
    border: none;
    background: var(--primary-white);
    box-shadow: 0px 15px 10px rgba(42, 47, 68, 0.1);
    border-radius: 0px 0px 8px 8px;
    overflow: auto;
}

.autocomplete-items div {
    width: 100%;
    padding: 17px;
    background-color: #fff; 
    border-top: 1px solid #d4d4d4; 
    font-size: 14px;
    line-height: 14px;
    color: var(--primary-ebony);
    cursor: pointer;
}

.autocomplete-items div:hover {
    background-color: #f8f9fa;
}

.autocomplete-active {
    background-color: DodgerBlue !important; 
    color: var(--primary-white) !important; 
}

.autocomplete .img {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}

.autocomplete .focus-visible {
    border-radius: 8px 8px 0 0;
}


/* and active class to autocomplete and than use it */
/* .autocomplete .focus-visible .img {
    filter: var(--invert-to-red);
} */

/* only for storybook */

.ct-component-wrapper {
    padding: 50px !important;
}

/* value slider */
.noUi-target {
    left: 50%;
    height: 136px !important;
    transform: translateX(-50%);
}

.noUi-touch-area {
    width: 40px !important;
    height: 15px !important;
    background: #C2C8DE;
    border-radius: 4px;
}

.noUi-vertical .noUi-handle {
    width: 40px !important;
    height: 14px !important;
    background: #C2C8DE;
    right: -18px !important;
    overflow: hidden;
    cursor: pointer;
}

.noUi-vertical .noUi-origin .noUi-handle {
    top: -3px;
}

.noUi-vertical .noUi-origin .noUi-handle-upper {
    border-bottom: 1px solid var(--primary-red) !important;
}

.noUi-vertical .noUi-origin .noUi-handle-lower {
    border-top: 1px solid var(--primary-red) !important;
}

.noUi-handle:before, .noUi-handle:after {
    content: '' !important;
    display: none  !important;
}

.noUi-vertical .noUi-origin .noUi-handle-lower::after {
    content: '' !important;
}

.noUi-connect {
    background: var(--primary-red) !important;
}

.noUi-handle {
    box-shadow: none !important;
    border: none !important;
}

.noUi-handle:focus {
    outline: none;
}

.noUi-base,
.noUi-vertical {
    width: 2px !important;
}

/* custom select */
.profile-settings .dropdown-menu.radio .dropdown-item,
.profile-cabinet .dropdown-menu.radio .dropdown-item { 
	position: relative;
	overflow: hidden; 
    cursor: pointer;
}

.profile-settings .dropdown-menu.radio input,
.profile-cabinet .dropdown-menu.radio input { 
	visibility: hidden; 
    position:absolute; left: -30px;
}

.profile-settings .dropdown-menu.radio i,
.profile-cabinet .dropdown-menu.radio i { 
    font-weight: normal;
    font-style: normal; 
    display: block;
}

.profile-settings .ct-reset-button .ins,
.profile-cabinet .ct-reset-button .ins {
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: var(--primary-ebony);
}

.profile-settings .dropdown-toggle::after,
.profile-cabinet .dropdown-toggle::after {
    display: none !important;
}

.profile-settings .dropdown-menu,
.profile-cabinet .dropdown-menu {
    margin-top: 8px;
    padding: 0;
    background: var(--primary-white);
    box-shadow: 0px 15px 30px rgba(42, 47, 68, 0.15);
    border-radius: 8px;
}

.profile-settings .dropdown-item,
.profile-cabinet .dropdown-item {
    margin: 0;
    padding: 16px;
    font-size: 14px;
    line-height: 14px;
    color: var(--primary-ebony);
    outline: none;
}

/* uploaded file name */
.js-labelFile {
    display: flex;
    align-items: center;
}

.js-fileName {
    margin-left: 14px;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    color: var(--primary-red);
}

.ct-hidden {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

/* modals overlay */
.ct-overlay {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(42, 47, 68, 0.3);
    backdrop-filter: blur(4px);
    transition: opacity 0.2s ease-in;
}
