/* shared styles here 'ct-className' */

/* before creating components */
* {
    transition: all 0.2s ease;
}

body {
    min-height: 100vh;
    background: linear-gradient(180deg, #f8fcff 0%, #cee0eb 100%);
}

.ct-title {}
.ct-button {}
.ct-input {}
.ct-overlay {}
.ct-user-status {}
