.profile-rating {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
}

.profile-rating__title {
    margin-bottom: 48px;
}

.profile-rating__list {
    background: var(--primary-white);
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
    border-radius: 8px;
}

.profile-rating__item {
    position: relative;
    padding: 24px;
    display: flex;
    align-items: center;
}

.profile-rating__item:not(:last-child):after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--light-gray);
}

.profile-rating__stars {
    width: 110px;
    display: flex;
}

.profile-rating__stars:not(:last-child) img {
    margin-right: 2px;
}

.profile-rating__voices {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: var(--secondary-gray);
}

.profile-rating__voices span {
    font-weight: 400;
}
