.profile-settings {
    max-width: 1150px;
    height: 80vh;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-settings__switch {
    position: relative;
    width: 40px;
    height: 20px;
    margin-bottom: 0;
    display: inline-block;
}
  
.profile-settings__switch .profile-settings__input {
    display: none;
}

.profile-settings__slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    transition: .4s;
    background: var(--primary-white);
    border: 1px solid #c2c8de;
}

.profile-settings__slider:before {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    background-color: #c2c8de;
    transition: .4s;
}

.profile-settings__input:checked + .profile-settings__slider:before {
    background-color: var(--primary-red);;
    transform: translateX(20px);
}

.profile-settings__slider.profile-settings__slider--round {
    border-radius: 10px;
}

.profile-settings__slider.profile-settings__slider--round:before {
    border-radius: 50%;
}

.profile-settings__item {
    padding: 14px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-white);
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
    border-radius: 8px;
}

.profile-settings__item:not(:last-child) {
    margin-bottom: 8px;
}

.profile-settings__flex {
    display: flex;
    align-items: center;
}

.profile-settings__text {
    margin-bottom: 0;
    margin-left: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    color: var(--primary-ebony);
}

.profile-settings__status {
    font-size: 12px;
    line-height: 12px;
    color: var(--primary-ebony);
}

.profile-settings__item.checked-item .profile-settings__text,
.profile-settings__item.checked-item .profile-settings__status {
    font-weight: 400;
    color: var(--secondary-gray);
}

.profile-settings__info-items {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 48px;
}

.profile-settings .ct-title {
    margin-bottom: 48px;
}

.profile-settings__info-item {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-white);
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
    border-radius: 8px;
}

.profile-settings__info-item .img {
    transform: rotate(90deg);
}

.profile-settings__info-items .link-item,
.profile-settings__info-items .link-item:hover {
    color: var(--primary-red);
}

.profile-settings__buttons-group {
    display: grid;
    grid-template-columns: 240px 240px;
    grid-gap: 24px;
    justify-content: flex-end;
}

.profile-settings .dropdown .img {
    margin-left: 18px;
}

.profile-settings .dropdown.show .img {
    filter: var(--invert-to-red);
}

@media (max-width: 1200px) {
    .profile-settings__info-items {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 18px;
    }
}
