.profile-balance__header {
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-balance__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
}

.profile-balance__buttons:first-child {
    margin-right: 24px;
}

.profile-balance__body {
    background: var(--primary-white);
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
    border-radius: 8px;
}

.profile-balance__operation-item {
    max-height: 48px;
    padding: 0 16px;
    display: flex;
    align-items: center;
}

.profile-balance__operation-item p {
    margin-bottom: 0;
}

.profile-balance__operation-item:not(:last-child) {
    border-bottom: 1px solid var(--primary-frames);
}

.operation-item__date {
    width: 136px;
    margin: 0 16px;
    font-size: 14px;
    line-height: 48px;
    color: var(--primary-dark);
}

.operation-item__cost {
    width: 80px;
    margin-right: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 48px;
    color: var(--primary-dark);
}

.operation-item__system {
    font-size: 14px;
    line-height: 48px;
    color: var(--primary-gray);
}

@media (max-width: 992px) {
    .profile-balance__operation-item {
        padding: 0 10px;
    }

    .profile-balance__buttons:first-child {
        margin-right: 10px;
    }

    .profile-balance__buttons {
        grid-gap: 16px;
        grid-template-columns: 150px 130px;
    }

    .operation-item__system {
        font-size: 13px;
    }

    .operation-item__date {
        margin: 0 10px;
        font-size: 13px;
    }

    .operation-item__cost {
        margin-right: 10px;
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    .operation-item__system .duration {
        display: none;
    }
    
}
