.profile-content {
    max-width: 1120px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}

.profile-content-box {
    max-height: 134px;
    padding: 34px 0 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-white);
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
    border-radius: 8px;
}

.profile-content-box__img {
    margin-bottom: 10px;
}

.profile-content-box__capture {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: var(--primary-ebony);
}

.profile-content-box__info-img {
    transform: rotate(90deg);
}

.profile-content-box__balance {
    margin-bottom: 14px;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
}
