.profile-statistics {
    max-width: 1120px;
}

.profile-statistics__head {
    margin-bottom: 48px;
}

.profile-statistics__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 48px;
}

.profile-statistics__title {
    margin-bottom: 12px;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    color: var(--primary-red);
}

.profile-statistics__description {
    max-width: 125px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 18px;
    color: var(--primary-ebony);
}
