.profile-sidebar {
    position: relative;
    max-width: 358px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    text-align: center;
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
    border-radius: 8px;

}

.profile-sidebar__status {
    display: flex;
    align-self: flex-start;
    align-items: center;
}

.profile-sidebar__status span {
    text-transform: uppercase;
    font-size: 8px;
    line-height: 8px;
    color: #6e7388;
}

.profile-sidebar__status div {
    margin-right: 8px;
}

.profile-sidebar__price {
    height: 48px;
    margin-bottom: 24px;
}

.profile-sidebar__price p {
    position: relative;
    top: 16px;
    margin-bottom: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    z-index: 1;
}

.profile-sidebar__user-avatar {
    position: relative;
    margin-bottom: 20px;
    padding: 3px;
    border: 1px solid #c2c8de;
    border-radius: 50%;
}

.profile-sidebar__user-avatar .img {
    max-width: 152px;
    border-radius: 50%;
}

.profile-sidebar__user-avatar .flat-img {
    position: absolute;
    bottom: -10px;
    left: 50%;
    border: 1px solid #fff;
    background-color: #fff;
    filter: drop-shadow(0px 2px 5px rgba(110, 115, 136, 0.2));
    border-radius: 2px;
    transform: translateX(-50%);
}

.profile-sidebar__user-name {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #2a2f44;
}

.profile-sidebar__user-verefied {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    color: #2a2f44;
}

.profile-sidebar__user-verefied img {
    margin-right: 8px;
}

.profile-sidebar__price::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 48px;
    background: linear-gradient(270deg, #DC1B48 0%, #FF756D 100%);
}

.profile-sidebar__price::after {
    content: url('../../img/shared/three-circle.svg');
    position: relative;
    top: -155px;
    width: 100%;
}

.profile-sidebar__user-statistics {
    position: relative;
    margin-bottom: 18px;
    display: flex;
    z-index: 1;
}

.profile-sidebar__user-role {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
}

.profile-sidebar__user-language {
    position: relative;
    font-size: 12px;
    line-height: 18px;
    color: #2a2f44;
    z-index: 1;
}

.profile-sidebar__comments p,
.profile-sidebar__raiting p {
    margin-bottom: 8px;
}

.profile-sidebar__comments span,
.profile-sidebar__raiting span {
    font-size: 12px;
    line-height: 12px;
    color: #6e7388;
}

.profile-sidebar__comments {
    margin-right: 24px;
}

.profile-sidebar__mark {
    position: relative;
    width: 100%;
}

.profile-sidebar__mark-input {
    width: 100%;
    padding: 6px 16px;
    border: 1px solid #dbdff0;
    border-radius: 8px;
    font-size: 12px;
    line-height: 18px;
    color: #6e7388;
}

.profile-sidebar__mark-input:focus {
    outline: none;
}

.profile-sidebar__mark-input::placeholder {
    font-size: 12px;
    line-height: 18px;
    color: #6e7388;
}

.profile-sidebar__mark-button {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
