.profile-cabinet {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
}

.profile-cabinet__head {
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
}

.profile-cabinet__user-status {
    margin-top: 30px;
}

.profile-cabinet__user-status .status-selector {
    background: var(--primary-white);
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
    border-radius: 8px;
}

.profile-cabinet__user-main-info {
    text-align: center;
}

.profile-cabinet__user-avatar {
    position: relative;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.profile-cabinet__user-avatar .img {
    max-width: 154px;
    padding: 3px;
    background: var(--primary-white);
    border-radius: 50%;
    border: 1px solid var(--secondary-light);
    box-sizing: border-box;
}

.profile-cabinet__user-avatar button .svg {
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 100;
}

.profile-cabinet__data .name {
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    color: var(--primary-dark);
}

.profile-cabinet__verification {
    display: flex;
    justify-content: center;
}

.profile-cabinet__verification p {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.profile-cabinet__verification p .img {
    margin-right: 8px;
}

.profile-cabinet__verification .number {
    margin-left: 24px;
}

.profile-cabinet__user-type {
    margin-top: 30px;
}

.profile-cabinet__user-type .capture,
.profile-cabinet__user-status .capture {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 14px;
    color: var(--primary-gray);
}

.profile-cabinet__user-type .type--interlocutor,
.profile-cabinet__user-type .type--tutor {
    width: 200px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
    border-radius: 8px;
}

.profile-cabinet__user-type .type--interlocutor {
    background: linear-gradient(270deg, #FC5E55 0%, #FF9791 100%);
}

.profile-cabinet__user-type .type--tutor {
    background: linear-gradient(270deg, var(--primary-red) 0%, var(--primary-pink) 100%);
}

.profile-cabinet__user-type .type--interlocutor span,
.profile-cabinet__user-type .type--tutor span {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: var(--primary-white);
}

.change-avatar-buttons {
    display: none;
    position: absolute;
    bottom: -16px;
    width: 336px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 48px;
    background: var(--primary-white);
    box-shadow: 0px 15px 10px rgba(42, 47, 68, 0.1);
    border-radius: 8px;
    z-index: 10;
}

.change-avatar-buttons .ct-reset-button {
    padding: 13px 0;
    font-size: 14px;
    line-height: 14px;
    color: var(--primary-dark);
    cursor: pointer;
}

.change-avatar-buttons.active {
    display: grid;
}

.profile-cabinet .dropdown {
    width: 160px;
    background: var(--primary-white);
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
    border-radius: 8px;
}

.profile-cabinet .dropdown.show {
    border-radius: 8px 8px 0 0;
}

.profile-cabinet .dropdown.show .img {
    filter: var(--invert-to-red);
}

.profile-cabinet .dropdown-menu.show {
    border-radius: 0 0 8px 8px;
    border: none;
}

.profile-cabinet .dropdown-toggle {
    width: 100%;
    padding: 17px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.profile-cabinet .dropdown .ins {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400 !important;
}

.profile-cabinet .dropdown .flex-block {
    display: flex;
    font-weight: 400;
}

.profile-cabinet .dropdown .flex-block div {
    margin-right: 8px;
}

.profile-cabinet .dropdown-menu {
    margin-top: 0 !important;
}

.profile-cabinet .dropdown-item {
    border-top: 1px solid var(--primary-frames);
}

@media (max-width: 992px) {
    .profile-cabinet__data .name {
        font-size: 28px;
    }

    .profile-cabinet__verification p {
        font-size: 12px;
    }
}
