.profile-main {
    max-width: 1120px;
    width: 1120px;
    margin: 0 auto;
    background: var(--primary-white);
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
    border-radius: 8px;
}

/* --- profile-main-contact-bar --- */

.buttons-wrapper {
    display: flex;
    align-items: center;
}

.chat-button {
    max-width: 160px;
    margin-right: 24px;
}

.statistics-button {
    width: 250px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 14px;
    color: var(--secondary-gray);
    cursor: pointer;
}

.send-feedback-button {
    margin-right: 30px;
    max-width: 200px;
}


/* --- profile-main-contact-bar --- */

/* profile-main__search-bar */
.profile-main__search-bar {
    position: relative;
    padding: 16px 30px 16px 16px;
    display: flex;
    justify-content: space-between;
}

.add-contact-button {
    max-width: 240px;
}

.more-button {
    width: 240px;
    cursor: pointer;
}

.more-button .svg {
    position: absolute;
    right: 0;
}

.profile-main__dropdown-menu .dropdown-item {
    border-top: 0 !important;
    border-bottom: 1px solid var(--light-gray);
}

.profile-main__user-raiting,
.profile-main__user-summary {
    position: relative;
    padding: 48px;
}

.profile-main__user-raiting {
    display: flex;
}

.profile-main__user-raiting .user-rait {
    display: inline-flex;
    margin-right: 66px;
}

.profile-main__rait {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 100px;
}

.profile-main__search-bar::after,
.profile-main__user-raiting::after,
.profile-main__user-summary::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--light-gray);
}

.user-info__summary-head {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.user-info__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    color: var(--primary-ebony);
}

.user-info__text {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 22px;
    color: var(--primary-ebony);
}

.user-info__register {
    font-size: 12px;
    line-height: 12px;
    color: var(--primary-ebony);
}

.raiting-stars {
    margin-bottom: 6px;
    display: flex;
    align-items: center;
}

.raiting-stars:not(:last-child) img {
    margin-right: 2px;
}

.user-info__raiting-voices {
    font-size: 14px;
    line-height: 14px;
    color: var(--secondary-gray);
}

.profile-main__user-feedbacks {
    padding: 48px;
}

.profile-main__user-feedbacks .user-info__title {
    margin-bottom: 32px;
}

.profile-main__user-feedbacks .user-info__title span {
    color: var(--secondary-gray);
}

.user-feedback__details {
    margin-bottom: 16px;
    padding-left: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-feedback__text {
    position: relative;
    padding: 16px;
    font-size: 14px;
    line-height: 22px;
    color: var(--primary-ebony);
    background: var(--primary-white);
    border: 1px solid var(--light-gray);
    box-sizing: border-box;
    border-radius: 0px 8px 8px 8px;
}

.user-feedback__item:not(:last-child) {
    margin-bottom: 32px;
}

.user-feedback__reply-text {
    position: relative;
    margin-left: 48px;
    padding: 16px;
    font-size: 14px;
    line-height: 22px;
    color: var(--primary-ebony);
    background: var(--light-gray);
    border-radius: 0px 8px 8px 8px;
}

.user-feedback__reply-by-user {
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    color: var(--primary-ebony);
}

.user-feedback__item .img {
    position: absolute;
    top: -8px;
    left: -1px;
}

.user-feedback__flex-block {
    display: flex;
    align-items: center;
}

.feedback-author {
    margin-bottom: 0;
    margin-right: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    color: var(--primary-red);
}

.feedback-date {
    font-size: 12px;
    line-height: 12px;
    color: var(--secondary-gray);
}

.feedback-stars {
    display: flex;
    align-items: center;
}

.feedback-stars img:not(:last-child) {
    margin-right: 2px;
}

.profile-main .dropdown-menu {
    width: 240px;
    margin-top: 0;
    padding: 0;
    border: none;
    background: var(--primary-white);
    box-shadow: 0px 15px 10px rgba(42, 47, 68, 0.1);
    border-radius: 0px 0px 8px 8px;
}

@media (max-width: 1140px) {
    .profile-main__user-summary,
    .profile-main__user-feedbacks,
    .profile-main__user-raiting,
    .profile-main__search-bar {
        padding: 18px;
    }

    .profile-main__user-raiting .user-rait {
        margin-right: 24px;
    }

    .profile-main__rait {
        grid-gap: 24px;
    }

    .chat-button,
    .send-feedback-button {
        margin-right: 10px;
    }
}
