.profile-data-form {
    max-width: 1120px;
    margin: 0 auto;
}

.profile-data-form__title {
    margin-bottom: 48px;
}

.profile-data__fields-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 48px;
}

.profile-data__fields-wrap--not-fully {
    display: flex;
}

.profile-data__fields-wrap--not-fully .profile-data__controll-block:nth-of-type(1) {
    width: 30%;
    margin-right: 52px;
}

.profile-data__fields-wrap--not-fully .profile-data__controll-block:nth-of-type(2) {
    width: 65%;
}

.profile-data__controll-block {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
}

.profile-data__label {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: var(--primary-ebony);
}

.profile-data__input {
    width: 100%;
    padding: 0 22px 5px;
    border: none;
    border-bottom: 1px solid #7894af;
    background: none;
}

.profile-data__icon {
    position: absolute;
    top: 35px;
    left: 0;
}

.profile-data__input,
.profile-data__input::placeholder {
    font-size: 14px;
    line-height: 22px;
    color: var(--primary-ebony);
}

.profile-data__input:focus {
    outline: none;
}
