.profile-balance {
    background: var(--primary-white);
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
    border-radius: 8px;
}

.profile-balance__operation-item {
    max-height: 48px;
    padding: 0 16px;
    display: flex;
    align-items: center;
}

.profile-balance__operation-item p {
    margin-bottom: 0;
}

.profile-balance__operation-item:not(:last-child) {
    border-bottom: 1px solid var(--light-gray);
}

.operation-item__date {
    width: 136px;
    margin: 0 16px;
    font-size: 14px;
    line-height: 48px;
    color: var(--pramary-ebony);
}

.operation-item__cost {
    width: 80px;
    margin-right: 16px;
    font-size: 14px;
    font-weight: 600;
    line-height: 48px;
    color: var(--pramary-ebony);
}

.operation-item__system {
    font-size: 14px;
    line-height: 48px;
    color: var(--secondary-gray);
}
