.word-learning-settings-form {
    max-width: 420px;
    margin: 0 auto;
    background: var(--primary-white);
    box-shadow: 0px 15px 10px rgba(42, 47, 68, 0.1);
    border-radius: 8px;
}

.word-learning-settings-form__controll-block {
    position: relative;
    padding: 24px;
    padding-top: 18px;
}

.word-learning-settings-form__controll-block:nth-of-type(1):after,
.word-learning-settings-form__description::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--light-gray);
}

.word-learning-settings-form__controll-block:not(:last-child) {
    padding-bottom: 24px;
}

.word-learning-settings-form__head {
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.word-learning-settings-form__head button {
    cursor: pointer;
}

.word-learning-settings-form__title {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: var(--primary-ebony);
}

.word-learning-settings-form__description {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 12px;
    font-size: 12px;
    line-height: 18px;
    color: var(--secondary-gray);
}

.set-words-generation {
    display: flex;
    align-items: center;
}

.set-words-generation:not(:last-child) {
    margin-bottom: 16px;
}

.set-words-generation label {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 16px;
    color: var(--primary-ebony);
    cursor: pointer;
}

input[type='checkbox'] {
    display: none;
    opacity: 0;
    z-index: -1;
}

input[type='checkbox']+label {
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    margin-bottom: 0;
    display: block;
    box-sizing: border-box;
    text-indent: -999px;
    overflow: hidden;
    border: 1px solid var(--light-gray);
    border-radius: 2px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

input[type='checkbox']#checkbox_1+label,
input[type='checkbox']#checkbox_2+label,
input[type='checkbox']#checkbox_3+label {
    border: 1px solid var(--light-gray);
    background: transparent;
}

input[type='checkbox']#checkbox_1+label:before,
input[type='checkbox']#checkbox_2+label:before,
input[type='checkbox']#checkbox_3+label:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 8px;
    height: 8px;
    opacity: 0;
    z-index: -1;
    background: var(--primary-red);
    background-position: center;
    background-size: 20px;
}

input[type='checkbox']#checkbox_1:checked+label:before,
input[type='checkbox']#checkbox_2:checked+label:before,
input[type='checkbox']#checkbox_3:checked+label:before {
    opacity: 1;
    z-index: 1;
}

.language-block {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language-block:not(:last-child)::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--light-gray);
}

.language-block span {
    font-size: 12px;
    line-height: 40px;
    color: var(--primary-ebony);
}

.language-block .img {
    position: relative;
    right: 16px;
    cursor: pointer;
}

.word-learning-settings-form__new-language {
    position: relative;
    padding: 16px 24px;
    background: #f5f6fc;
}

.word-learning-settings-form__new-language input {
    width: 90%;
    padding: 14px 16px;
    background: var(--primary-white);
    box-shadow: 0px 3px 5px rgba(42, 47, 68, 0.1);
    border-radius: 8px;
    border: none;
}

.word-learning-settings-form__new-language input,
.word-learning-settings-form__new-language input::placeholder {
    font-size: 12px;
    line-height: 12px;
    color: var(--secondary-gray);
}

.word-learning-settings-form__new-language input:focus {
    outline: none;
}

.word-learning-settings-form__new-language .img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 80px;
}

.word-learning-settings-form__new-language button {
    position: relative;
    left: 5px;
    cursor: pointer;
}

.word-learning-settings-form__set-settings {
    padding: 24px;
}
