.main-page {
    padding: 20px;
}

.main-page__title {
    margin-bottom: 32px;
    color: var(--primary-red);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.components-list {
    display: flex;
    flex-wrap: wrap;
}

.components-list:not(:last-child) {
    margin-bottom: 48px;
}

.components-item {
    margin: 12px;
}

.components-item__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.components-item__link::before {
    content: url('../../img/shared/folder.png');
    margin-right: 5px;
}

.components-item__link:hover {
    color: var(--primary-red);
}

.components-item__link--ready {
    color: rgb(108 181 108);
    font-weight: 700;
}
